@import url("root.css") screen;
@import url("common.css") screen;
@import url("settings.css") screen;
@import url("panel.css") screen;
@import url("top.css") screen;
@import url("menu.css") screen;
@import url("page.css") screen;
@import url("nav.css") screen;
@import url("footer.css") screen;
@import url("social.css") screen;
@import url("popup.css") screen;

/* ==================== */
/* === cart section === */
/* ==================== */

/*portrait orientation*/
@media (orientation: portrait) {
  cart {
    /*all available width*/
    /*margin: 0 -20px 0 -20px;*/
  }
  
  cart titles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  cart titles title, cart titles cbox {
    margin: 0;
    color: #fff;
  }
  
  cart titles cbox {
    margin-right: 5px !important;
  }
  
  cart titles title.code, cart titles title.qty, cart titles title.price, cart titles title.sum {
    display: none;
  }
  
  cart titles title.thumb {
    width: var(--cart-thumb);
    text-align: center;
  }
  
  cart.history titles title.name {
    flex: 1;
    text-align: center;
  }
  
  cart item {
    display: block;
    float: left;
    margin-top: 5px;
    padding: 5px;
    background: #eee;
    border: 0px solid #f00;
  }
  
  cart item:first-child {
    margin-top: 0;
  }
  
  cart item:last-child {
    margin-bottom: 20px;
  }
  
  cart item a {
    float: left;
    border: 0px solid #00f;
  }

  cart item > a {
    display: block;
    width: var(--cart-thumb);
    height: var(--cart-thumb);
    margin: auto;
  }
  
  cart item name, cart item code {
    float: left;
    margin-left: 10px;
  }
  
  cart item cbox {
    float: right;
  }
  
  cart item name {
    width: calc(100% - var(--cart-thumb) - 10px);
  }
  
  cart item code, cart item cbox {
    display: flex;
    width: calc((100% - var(--cart-thumb)) / 2 - 5px);
    margin-top: 10px;
    font-size: 0.75em;
  }
  
  cart item code {
    align-items: center;
    justify-content: flex-start;
  }
  
  cart.history item code {
    width: calc(100% - var(--cart-thumb) - 10px);
  }
  
  cart item price, cart item qty, cart item sum {
    width: calc(33.33%);
    height: 64px;
    line-height: 32px;
    margin-top: 10px;
    text-align: center;
    font-size: 0.9em;
  }
  
  cart item price {
    clear: both;
    float: left;
    margin-top: 10px;
    border: 0px solid;
  }
  
  cart item price[label]:before, 
  cart item code[label]:before, 
  cart item sum[label]:before,
  cart item cbox[label]:before,
  cart item qty[label]:before {
    font-family: var(--base-font);
    font-size: 1em;
    content: attr(label);
  }
  
  cart item price[label]:before, 
  cart item sum[label]:before,
  cart item qty[label]:before {
    display: block;
    font-weight: bold;
  }
  
  cart item code[label]:before, cart item cbox[label]:before {
    margin-right: 5px;
  }
  
  cart item qty[label]:before {
    width: 100%;
  }
  
  cart item qty {
    float: left;
    border: 0px solid #900;
  }
  
  cart item sum {
    float: right;
    border: 0px solid #900;
  }
  
  cart item cbox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  cart item qty minus {
    margin-right: 5px;
  }

  cart item qty plus {
    margin-left: 5px;
  }
  
}

/*landscape orientation*/
@media (orientation: landscape) {
  cart titles, cart item {
    display: grid;
    grid-template-columns: calc(var(--cart-thumb) - 20px) auto 80px 110px 50px 110px 30px;
  }
  cart.history titles, cart.history item {
    display: grid;
    grid-template-columns: calc(var(--cart-thumb) - 20px) auto 80px 110px 50px 110px;
  }

  
  cart titles, cart item qty {
    text-align: center;
  }
  
  cart item {
    height: calc(var(--cart-thumb) - 20px);
  }
  
  cart item > a {
    width:  calc(var(--cart-thumb) - 20px);
    height: calc(var(--cart-thumb) - 20px);
  }
  
  cart item name, cart item code, cart item price, cart item qty, cart item sum {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    border: 0px solid;
  }
  
  cart item name { 
    justify-content: flex-start;
    margin-left: 5px;
  }
  
  cart item name a {
    font-size: inherit;
  }
  
  cart item qty {
    flex-direction: column-reverse;
  }
  
  cart item qty minus {
    margin-top: 10px;
  }

  cart item qty plus {
    margin-bottom: 5px;
  }

}

/* all styles */

title.cart, title.ok {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--page-title);
  margin: 0 0 20px 0;
  border: 0px solid #f00;
}

title.cart::before, title.ok::before {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: icons;
  font-size: 1em;
  margin-right: 20px;
  min-width: var(--page-icon);
  min-height: var(--page-icon);
  color: #fff;
  background: #660 linear-gradient(to bottom, #09c, #033) repeat-x;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
  box-shadow: 3px 3px 6px rgb(0, 0, 0);
  border-radius: 50%;
  padding-left: 3px;
}

title.cart::before { content: 'b' }
title.ok::before { content: 'O' }

cart item {
  margin-top: 10px;
}

cart item:nth-child(odd) {
  background: #f6f6f6;
}

cart item.selected {
  background: #ffc;
}

cart titles {
  height: 48px;
  background: #09c linear-gradient(to bottom, #09c, #033) repeat-x;
}

cart titles title, cart titles cbox {
  color: #fff;
  margin: 0;
  height: 48px;
  line-height: 48px;
  border: 0px solid #fff;
}

cart item > a {
  margin: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
}

cart item qty {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

cart item qty input {
  width: 2.2em;
  height: 1.5em;
  font-size: 1em;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ccc;
}

cart item qty minus, cart item qty plus {
  font-family: icons;
  font-size: 0.9em;
  cursor: pointer;
  width: 24px;
  height: 24px;
  vertical-align: center;
  user-select: none;
}

cart item qty minus {
  color: #f00;
}

cart item qty plus {
  color: #090;
}

cart cbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

cart cbox input {
  width: 18px;
  height: 18px;
}


/* TOTAL */
total {
  clear: both;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #333;
  color: #333;
  background: #efe;
  margin-top: 20px;
  font-size: 1em;  
}

/*portrait orientation*/
@media (orientation: portrait) {
  total {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  total flex {
    display: none;
  }
  
  total num, total sum, total pay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: var(--cart-total);
    font-weight: bold;
    padding: 10px;
  }
  
  total num, total pay {
    border-bottom: 1px solid #999;
  }
}

/*landscape orientation*/
@media (orientation: landscape) {
  total {
    height: 48px;
    line-height: 48px;
    justify-content: space-around;
  }

  total num, total sum, total pay {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8em;
  }
}

total num[label]:before, total sum[label]:before, total pay[label]:before {
  content: attr(label);
  font-family: var(--base-font);
  font-weight: normal;
  margin-right: 5px;
}


/* BUTTONS */
buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}

buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.49;
  min-height: 36px;
  font-size: 1em;
  line-height: 1.1em;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  border: 1px solid; /*flat style*/
  border-radius: 4px;
}

/*portrait orientation*/
@media (orientation: portrait) {
  buttons button.checkout {
    flex: 1;
  }

  buttons button.category:before, buttons button.remove:before  {
    margin-left: 10px;
  }
}

/*landscape orientation*/
@media (orientation: landscape) {
  buttons button.checkout {
    flex: 0.49;
    margin: auto;
  }

  buttons button.category:before, buttons button.remove:before  {
    margin-right: 10px;
  }
}

buttons button.category {
  color: #fff;
  border-color: #333;
  background: #ccc linear-gradient(to bottom, #363, #696) repeat-x;
}

buttons button.remove {
  color: #fff;
  border-color: #333;
  background: #ccc linear-gradient(to bottom, #990, #660) repeat-x;
}

buttons button.checkout {
  color: #fff;
  border-color: #333;
  background: #09c linear-gradient(to bottom, #09c, #033) repeat-x;
}

buttons button.confirm {
  color: #fff;
  border-color: #333;
  background: #09c linear-gradient(to bottom, #09c, #033) repeat-x;
}

buttons button.disabled {
  color: #333;
  background: #ccc linear-gradient(to bottom, #fff, #ccc) repeat-x;
}

buttons button:before {
  font-size: var(--cart-button-icon);
}

buttons button.checkout:before {
  font-size: 1em;
  margin-right: 10px;
}

/* PAYMENT */

payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #333;
}

payment label {
  width: 100%;
  display: block;
  width: 100%;
  line-height: 2em;
  font-weight: bold;
  background: #eee;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #333;
}

payment type {
  font-size: 0.75em;
  font-weight: normal;
  width: 30%;
  text-align: center;
  margin: 20px 0 20px 0;
  padding: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
}

payment type[checked] {
  background: #eee;
  border: 1px solid #333;
}

payment type:before {
  display: block;
  font-size: var(--cart-payment-icon);
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: center;
}

payment type.card:before {
  content: 'C';
  color: #09f;
}

payment type.bitcoin:before {
  content: 'B';
  color: #c00;
}

payment type.cash:before {
  content: '$';
  color: #396;
}

empty {
  height: 64px;
  line-height: 64px;
  font-size: 1em;
  text-align: center;
}

/*===== confirm =====*/

/*portrait orientation*/
@media (orientation: portrait) {
  confirm {
    display: block;
    width: 100%;
  }
}

/*landscape orientation*/
@media (orientation: landscape) {
  confirm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
  }
  
  confirm client, confirm phone {
    width: calc(50% - 40px);
  }
  
  confirm phone {
    margin-left: 20px;
  }
  
  button.confirm:before, button.category:before, button.remove:before {
    font-size: 1.1em;
    margin-right: 5px;
  }
}

confirm {
  margin: 40px auto 40px auto;
  padding: 10px;
  text-align: center;
  background: #eff;
  border: 1px solid;
  border-radius: 8px;
}

confirm client, confirm phone  {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  border: 0px solid;
}

confirm client[example]::after, confirm phone[example]::after {
  content: attr(example);
  font-size: 0.75em;
  color: #ccc;
}

confirm label {
  margin-bottom: 10px;
  padding: 0 20px 0 20px;
  font-size: 0.8em;
  font-weight: bold;
  color: var(--bg-top);
}

confirm input {
  width: 100%;
  height: 40px;
  margin: auto;
  margin-top: 10px;
  padding: 0 10px 0 10px;
  font-size: 1em;
}

confirm placeholder {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 28px;
  opacity: 0.4;
  transition: 0.5s ease all;
}

confirm placeholder:before {
  margin-right: 5px;
}

input:focus ~ placeholder,
input:focus ~ placeholder,
input:not(:focus):valid ~ placeholder,
input:not(:focus):valid ~ placeholder
{
  top: 0;
  left: 0;
  font-size: 0.75em;
  font-weight: bold;
  color: #000;
  opacity: 1;
}