/* ====================== */
/* === common section === */
/* ====================== */

body {
  background-color: var(--bg-body);
  background-image: var(--bg-desktop);
  background-position: top left, left 0 bottom -370px;
  background-repeat: repeat-x, repeat-x;
}

body * {
  font: var(--font-roboto);
}

mobile, .mobile {
  display: none;
}


.page {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.end {
  margin-bottom: 50px;
}

title.xxl { font-size: 2.5em }
title.xl { font-size: 1.8em }
title.l  { font-size: 1.4em }
title.m  { font-size: 1.2em }
title.s  { font-size: 1.0em }
title.xs { font-size: 0.9em }
title.xxs { font-size: 0.75em }

line {
  width: 100%; 
  height: 1px; 
  background: #ccc;
  margin: 10px 0 10px 0;
}
