/* ====================== */
/* === footer section === */
/* ====================== */

footer {
  margin-top: 50px;
  padding-top: 40px;
  background: var(--bg-footer);
}

footer grid, footer line, footer about {
  width: 100%;
  margin: auto;
}

footer grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/*portrait orientation*/
@media (orientation: portrait) {
  footer grid {
    justify-content: space-around;
  }
  
  footer grid cell {
    width: 40%;
    margin-bottom: 20px;
    border: 0px solid #fff;
  }

  footer copyright {
    height: 50px;
  }

  footer copyright[powered]:after {
    display: block;
  }
}

/*landscape orientation*/
@media (orientation: landscape) {
  footer grid {
    justify-content: space-around;
  }
  
  footer grid cell {
    width: 22%;
    border: 0px solid #fff;
  }
  
  footer copyright {
    height: 30px;
  }
}

footer grid cell title {
  color: #ffc;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: var(--footer-font);
  font-weight: bold;
}

footer grid cell a {
  display: block;
  color: #ccc;
  font-size: var(--footer-font);
}

footer grid cell a:hover {
  color: #fff;
}

footer line {
  width: 100%;
  margin-top: 10px;
  background: rgb(0,93,127);
  background: linear-gradient(90deg, rgba(0,93,127,1) 10%, rgba(166,238,251,1) 50%, rgba(0,93,127,1) 90%);
}

copyright {
  width: 100%;
  color: #ccc;
  margin: 10px auto 0 auto;
  padding-bottom: 10px;
  text-align: center;
  font-size: var(--about-font);
}

copyright[powered]:after {
  content: attr(powered);
}
