/* ==================== */
/* === menu section === */
/* ==================== */
border.menu {
  height: 10px;
  background: #000;
  border-radius: 8px 8px 0 0;
}

menu {
  background: var(--bg-menu);
  display: flex;
  height: 53px;
  line-height: 53px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

menu a {
  height: 40px;
  line-height: 40px;
  color: #ccc;
  font-size: var(--menu-font);
  padding: 0 15px 0 15px;
  text-decoration: none;
  border: 0;
  border-right: 1px dotted #555;
}

menu a:hover {
  background: linear-gradient(to bottom, #444, #000) repeat-x;
  color: #fff;
}

menu a:first-child {
  margin-left: 20px;
}
