/* =================== */
/* === nav section === */
/* =================== */
nav {
  display: block;
  width: 100%;
}

nav phones, nav times, nav line {
  display: none;
}

nav title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  font-weight: bold;
  background: linear-gradient(to bottom, #f0f0f0, #ccc) repeat-x;
  color: #333;
  margin: 0;
  text-transform: uppercase;
  padding: 10px;
}

nav title:after {
  font-family: icons;
  content: '=';
  display: inline-block;
  width: 36px;
  text-transform: none;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  border-radius: 4px;
  border: 1px solid;
}

nav catalog {
  height: 0;
  overflow: hidden;
  transition: 1s ease;
}

nav catalog a {
  display: flex;
  padding: 10px 5px 10px 10px;
  color: #000;
  font-size: var(--nav-font);
  font-weight: bold;
  border: 1px solid #ccc;
  border-top: 0;
}

nav catalog a:before {
  font-size: var(--nav-tree-icon);
  content: '+';
  color: #09f;
  margin-right: 5px;
}

nav catalog > a:first-child {
  border-top: 1px solid #ccc;
}

nav catalog a.active {
  background: #eec;
}

nav catalog a.active:before {
  content: '-';
}

nav catalog level2 {
  height: 0;
  overflow: hidden;
  transition: 1s ease;
}

nav catalog level2 a {
  padding-left: 30px;
  font-weight: normal;
  color: #000;
  background: #ffe;
}

nav catalog level2 a:before {
  font-family: icons;
  font-size: var(--nav-tree-icon);
  content: 'g';
  margin-right: 5px;
}

nav catalog level2 a.view {
  color: #900;
}

nav catalog level2 a.view:before {
  content: 'O';
  color: #900;
}

