/* ====================== */
/* === panel section === */
/* ====================== */
header, header panel {
  height: 40px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;  
  background: var(--bg-panel);
  border-bottom: var(--panel-border);
}

panel {
  display: flex;
}

panel flex {
  flex: 1;
}

/*portrait orientation*/
@media (orientation: portrait) {
  panel links a num {
    align-self: start;
    font-size: var(--panel-count);
    color: #fff;
    margin: -3px 3px 0 0;
  }  
}

/*landscape orientation*/
@media (orientation: landscape) {
  panel desktop {
    display: inline-block;
    font-size: 0.8em;
  }
  
  panel num {
    font-size: 0.8em;
  }
  
  panel num:before {
    content: '(';
    margin-left: 0px;
  }

  panel num:after {
    content: ')';
  }
}

panel links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  margin-right: 5px;
}

panel lang, panel currency {
  display: none;
}

panel links a {
  display: flex;
  align-items: center;  
  font-size: 1em;
  color: #ccc;
}

panel links a:before {
  margin-left: 10px;
  font-size: 1em;
}

panel links a.icon-settings {
  margin: 0 5px 0 5px;
}
