/* =================== */
/* === top section === */
/* =================== */
top {
  padding-top: 60px;
}

top logo {
  width: 100%;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 1.1em;
}

top logo > a img {
  width: 220px;
}

top logo address  {
  font-size: 0.6em;
  color: #ccc;
}

top info {
  display: block;
  width: 90%;
  height: 130px;
  margin: auto;
}

top info * {
  height: 40px;
  line-height: 40px;
  margin-top: 15px;
  float: left;
  border: 0;
}

top info button.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(to bottom, #444, #000) repeat-x;
  font: var(--font-base);
  font-size: var(--top-font);
  color: #cff;
  border-radius: 4px;
}

top info button.cart num, top info button.cart sum {
  display: flex;
  align-items: center;
  margin: 0px 10px 0px 10px;
  font: var(--font-base);
  font-size: 1em;
}

top info button.cart num:before {
  font-size: 1.2em;
  margin: -4px 10px 0 0;
}

top info input.search {
  width: calc(100% - 50px);
  padding: 0 10px 0 10px;
  border-radius: 4px 0 0 4px;
  color: #333;
}

top info button.search {
  font-family: icons;
  font-size: 1em;
  width: 50px;
  color: #666;
  background: linear-gradient(to bottom, #ccc, #eee) repeat-x;
  border-left: 1px solid #999;
  border-radius: 0 4px 4px 0;
}