/* =================== */
/* === top section === */
/* =================== */

/*portrait orientation*/
@media (orientation: portrait) {
  top {
    display: block;
    padding-top: 60px;
  }
  
  top logo {
    display: block;
    width: 100%;
  }
  
  top info {
    display: block;
    width: 90%;
    margin: auto;
  }
}

/*landscape orientation*/
@media (orientation: landscape) {
  top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    background: var(--bg-header);
  }
  
  top logo {
    margin-left: 40px;
    border: 0px solid #fff;
  }
  
  top info {
    width: 275px;
    margin-right: 20px;
    border: 0px solid #fff;
  }
}

/* all styles */
top logo {
  color: #fff;
  text-align: center;
  font-size: 1.1em;
}

top logo > a img {
  width: 220px;
}

top logo address  {
  font-size: 0.7em;
  color: #ccc;
}

top info {
  height: 130px;
}

top info * {
  height: 40px;
  line-height: 40px;
  margin-top: 15px;
  float: left;
  border: 0;
}

top info button.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(to bottom, #444, #000) repeat-x;
  font: var(--font-base);
  font-size: var(--top-font);
  color: #cff;
  border-radius: 4px;
}

top info button.cart num, top info button.cart sum {
  display: flex;
  align-items: center;
  margin: 0px 10px 0px 10px;
  font: var(--font-base);
  font-size: 1em;
}

top info button.cart num:before {
  font-size: 1.2em;
  margin: -4px 10px 0 0;
}

top info input.search {
  width: calc(100% - 50px);
  padding: 0 10px 0 10px;
  border-radius: 4px 0 0 4px;
  color: #333;
}

top info button.search {
  font-family: icons;
  font-size: 1em;
  width: 50px;
  color: #666;
  background: linear-gradient(to bottom, #ccc, #eee) repeat-x;
  border-left: 1px solid #999;
  border-radius: 0 4px 4px 0;
}