        <pages>
          <start title='на початок списку'><<</start>
          <left title='прокрутка вліво'><</left>
          <data>
            <list>
              <page>1</page>
              <page>2</page>
              <page>3</page>
              <page>4</page>
              <page>5</page>
              <page>6</page>
              <page>7</page>
              <page>8</page>
              <page>9</page>
              <page>10</page>
              <page>11</page>
              <page>12</page>
              <page>13</page>
              <page>14</page>
              <page>15</page>
              <page>16</page>
              <page>17</page>
              <page>18</page>
              <page>19</page>
              <page>20</page>
              <page>21</page>
              <page>22</page>
              <page>23</page>
              <page>24</page>
              <page>25</page>
              <page>26</page>
              <page>27</page>
              <page>28</page>
            </list>
          </data> 
          <right title='прокрутка вправо'>></right>
          <end title='в кінець списку'>>></end>
        </pages>        
