{% include 'inc/header.j2' %}

<!--inc/left begin-->
{% include 'inc/left.j2' %}
<!--inc/left end-->
<content>
  <!--inc/top begin-->
  {% include 'inc/top.j2' %}
  <!--inc/top end-->
</content>
<!--inc/footer begin-->
{% include 'inc/footer.j2' %}
<!--inc/footer end-->
