{% extends "inc/index.j2" %}

{% block content %}
  <title>Аксесуари для ноутбуків</title>
  <title class='m'>Виберіть підкатегорію:</title>
  {% include './category_child.j2' %}
  {% include './category_control.j2' %}
  {% include './category_goods.j2' %}
  {% include './category_pages.j2' %}
{% endblock %}