{% extends '_inc/layout1.j2' %}

{% block content %}
    <section>
        <div class="collection-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-slick">
                        {% for xImage in product.images %}
                            <div><img src="{{xImage}}" alt="" class="img-fluid blur-up lazyload image_zoom_cls-0"></div>
                        {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-12 p-0">
                                <div class="slider-nav">
                                {% for xImage in product.images %}
                                    <div><img src="{{xImage}}" alt="" class="img-fluid blur-up lazyload"></div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 rtl-text">
                        <div class="product-right">
                            <h2>{{product.title}}</h2>
                            <h4>{{lang.product_code}}: {{product.idt}}/{{product.id}}</h4>
                            <h4>{{lang.category}}: {{product.category}}</h4>
                            <h4>{{lang.available}}: {{product.rest}}</h4>
                            <h4>{{lang.seller}}: <a href='{{href.tenant}}'>{{product.tenant_title}}</a></h4>
                            {% for Rec in TDbList().Import(product.price) %}
                            {%- if Rec.price_new -%}
                                <h3 class="price-detail">{{Rec.qty}} шт. {{Rec.price_new}} <del>{{Rec.price}}</del><span>{{ "%.1f"|format(100-(Rec.price_new/Rec.price*100)) }}%</span></h3>
                            {%- else -%}
                                <h3 class="price-detail">{{Rec.qty}} шт. {{Rec.price}}</h3>
                            {%- endif %}
                            {% endfor %}
                            <div id="selectSize" class="addeffect-section product-description border-product">
                            <div class="product-buttons"><a href="javascript:void(0)" id="cartEffect"
                                class="btn btn-solid hover-solid btn-animation"><i class="fa fa-shopping-cart me-1" aria-hidden="true"></i> add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="tab-product m-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="top-home-tab" data-bs-toggle="tab"
                                href="#top-home" role="tab" aria-selected="true"><i
                                    class="icofont icofont-ui-home"></i>Details</a>
                            <div class="material-border"></div>
                        </li>
                        <li class="nav-item"><a class="nav-link" id="profile-top-tab" data-bs-toggle="tab"
                                href="#top-profile" role="tab" aria-selected="false"><i
                                    class="icofont icofont-man-in-glasses"></i>Specification</a>
                            <div class="material-border"></div>
                        </li>
                    </ul>
                    <div class="tab-content nav-material" id="top-tabContent">
                        <div class="tab-pane fade show active" id="top-home" role="tabpanel"
                            aria-labelledby="top-home-tab">
                            <div class="product-tab-discription">
                                <div class="part">
                                    <h5 class="inner-title">fabric:</h5>
                                    <p>Art silk is manufactured by synthetic fibres like rayon. It's light in weight and
                                        is soft on the skin for comfort in summers.Art silk is manufactured by synthetic
                                        fibres like rayon. It's light in weight and is soft on the skin for comfort in
                                        summers.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
                            <div class="single-product-tables">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Sleeve Length</td>
                                            <td>Sleevless</td>
                                        </tr>
                                        <tr>
                                            <td>Neck</td>
                                            <td>Round Neck</td>
                                        </tr>
                                        <tr>
                                            <td>Occasion</td>
                                            <td>Sports</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
