{% extends '_inc/layout1.j2' %}

{% block head %}
  <meta property="og:image" content="{{product['image']}}"/>
  <script type='module' src='/default/js/product.js' ></script>
{% endblock %}

{% block content %}
  <item code='{{product['product_id']}}'>
    <images>
      <zoom title='{{lang.zoom_in}}'><img src='{{product['image']}}'></img></zoom>
      <thumbs>
        {% for xImage in product['images'] %}
          <thumb style='background-image: url({{xImage}})'></thumb>
        {% endfor %}
      </thumbs>
    </images>

    <info>
      <panel>
        <buttons>
          <button class='favorite' title='{{lang.to_favorite}}'></button>
          <button class='compare' title='{{lang.compare}}'></button>
        </buttons>
        <code class='flex'>{{lang.product_code}}: <b>{{product['code']}}</b></code>
      </panel>

      <title>{{product['title']}}</title>

      <props>
        <name>{{lang.category}}: <value>{{product['category']}}</value></name>
        <name>Наявність: <value class='green'>{{lang.available}}</value></name>
      </props>

      <control>
        {% for Rec in TDbList().Import(product['price']) %}
            {%- if Rec.price_new -%}
                <oldprice>{{Rec.qty}}{{lang.qty}} {{Rec.price}}</oldprice>
                <promo>{{Rec.qty}}{{lang.qty}} {{Rec.price_new}}</promo>
                <discount>{{ "%.1f"|format(100-(Rec.price_new/Rec.price*100)) }}%</discount>
            {%- else -%}
                <price>{{Rec.qty}}{{lang.qty}} {{Rec.price}}</price>
            {%- endif %}
          {% endfor %}
        <a href='#' class='buy'><icon class='buy'></icon>{{lang.buy}}</a>
      </control>
    </info>

  </item>

  <tabs>
    <panel>
        <tab id='tabprop' class='active'>{{lang.features}}</tab>
        <tab id='tabdesc'>{{lang.description}}</tab>
        <tab id='tabcomm'>{{lang.reviews}}</tab>
    </panel>
    <data>
      <label class='tabprop'>
        <!-- <name>Модель:</name><value>Acer</value> -->
        {%- for xType, xVal in product['features'] %}
            {%- if xType == 'g' -%}
                <plus>{{xVal}}</plus>
            {%- else -%}
                <value>{{xVal}}</value>
            {%- endif %}
        {%- endfor %}
      </label>

      <label class='tabdesc' hide>
        {{product['descr']}}
      </label>

      <label class='tabcomm hide'>
        <!--
        аккуратная материнская плата
        <plus>Переваги:</plus>
        м2 слот
        <minus>Недоліки:</minus>
        Отличная плата на свою цену
        -->
      </label>
    </data>
  </tabs>
{% endblock %}
