{% extends "inc/index.j2" %}

{% block content %}
  <title>Знайдено {{total}}: {{search}}</title>
  {% include './category/control.j2' %}
  {% include './category/goods.j2' %}
  {% include './category/pages.j2' %}
{% endblock %}
