{% extends '_inc/layout1.j2' %}

{% block content %}
<!-- about_us + -->
<div class="container mt-5">
    <div class="row text-center">
        <div class="col-6 col-md-3">
            <img src="/img/employee/empl_vlad.jpeg" alt="Face 1" class="img-fluid rounded-circle" width="200">
            <p class="mt-2">Володимир</p>
            <p>Керівник</p>
        </div>
        <div class="col-6 col-md-3">
            <img src="/img/employee/empl_bogdan.jpeg" alt="Face 2" class="img-fluid rounded-circle" width="200">
            <p class="mt-2">Богдан</p>
            <p>Менеджер закупівлі</p>
        </div>
        <div class="col-6 col-md-3">
            <img src="/img/employee/empl_oleg.jpeg" alt="Face 3" class="img-fluid rounded-circle" width="200">
            <p class="mt-2">Олег</p>
            <p>Менеджер продаж</p>
        </div>
        <div class="col-6 col-md-3">
            <img src="/img/employee/empl_galina.jpeg" alt="Face 4" class="img-fluid rounded-circle" width="200">
            <p class="mt-2">Галина</p>
            <p>Маркетолог</p>
        </div>
    </div>
<!--  about_us - -->
{% endblock %}
