<!-- filemanager_modal + -->
<div class="modal fade" id="viFileManagerModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModalLabel">{{lang.shopping_cart}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="viModalBody">
            {% include './filemanager.j2' %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    loadInto('viModalBody', '/tenant/?route=common/filemanager')
</script>
<!-- filemanager_modal - -->
