<div class="tab-pane fade m-3" id="images" role="tabpanel" aria-labelledby="images-tab">
  <h2 class="fw-bold mb-4">{{lang.images}}</h2>

  <form id="viFormImage" method="post">
    <div class="row">
    {% for Rec in TDbList().Import(dbl_images) %}
      <div class="card col-md-4 vCard" id="card_{{loop.index}}">
        <div class="card-header">
          <a href="{{Rec.href}}"><img class="imgThumb" src="{{Rec.href}}"></a>
        </div>
        <div class="card-footer">
          <span>
            {{lang.file}}:<input type="text" class="imgFile" name="input_file_{{loop.index}}" value="{{Rec.image}}" readonly>
            <button class="btn btn-primary btn_ImgEdit" cardId="card_{{loop.index}}" data-bs-toggle="modal" data-bs-target="#viFileManagerModal">
              <i class="fa fa-edit" title="{{lang.edit}}"></i>
            </button>
          </span>
          <span>
            {{lang.sort_order}}:<input type="number" class="vInputQty" name="sort_order_{{loop.index}}" value="{{Rec.sort_order}}" min="0">
            {{lang.delete}}:<input type="checkbox" name="chk_file_{{loop.index}}" value="{{4}}">
          </span>
          <p></p>
          <span class="imgDate">{{Rec.date}}</span>
          <span class="imgSize">{{(Rec.size / 1000) | int}}Kb</span>
        </div>
      </div>
    {% endfor %}
    </div>
  </form>

  <div class="mb-3">
    <button type="button" class="btn btn-primary" id="viBtnImageSave">{{lang.save}}</button>
  </div>

  {% include 'common/filemanager_modal.j2' %}
</div>
