<div class="tab-pane fade show active m-3" id="main" role="tabpanel" aria-labelledby="main-tab">
  <h2 class="fw-bold mt-2 ">{{lang.main}}</h2>
  <form id="viFormMain" method="post">
    <div class="row mb-3">
      <div class="col-2">
        <input class="form-check-input" type="checkbox" name="enabled" id="chkInput" {% if product.enabled %}checked{% endif %}/>
        <label class="form-check-label">{{lang.enabled}}</label>
      </div>
      <div class="col-2">
        <input class="form-check-input" type="checkbox" {% if product0 %}checked{% endif %} disabled/>
        <label class="form-check-label">{{lang.product0}}</label>
      </div>
    </div>

    <div class="mb-3">
      <label>{{lang.category}}</label>
      <div class="d-flex">
        <input type="hidden" id="viCategoryId" name="category_id" value="{{product.category_id}}">
        <input type="text" class="form-control m-1" name="category_title" id="viCategoryTitle" value="{{product.category_title}}" readonly/>
        <ul class="navbar-nav" title="{{lang.categories}}">
          <li class="nav-item dropdown" id="viCategory">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="viCategoryMenu"><i class="fa fa-bars" style="font-size: 1.5em;"></i></a>
            <ul class="dropdown-menu" id="viCategoryItems">
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-8">
        <label>{{lang.name}}</label>
        <input type="text" class="form-control" name="title" placeholder="{{lang.name}}" value="{{product.title}}"/>
      </div>
      <div class="col-2">
        <label>{{lang.code}}</label>
        <input type="text" class="form-control"  value="{{product.idt}}" readonly/>
      </div>
      <div class="col-2">
        <label>{{lang.create_date}}</label>
        <input type="text" class="form-control"  value="{{product.create_date}}" readonly/>
      </div>
    </div>

    <div class="mb-3">
      <label>{{lang.code}}</label>
      <div class="d-flex">
        <input type="text" class="form-control m-1" value="{{product.barcodes}}" readonly/>
      </div>
    </div>

    <div class="mb-3">
      <label>{{lang.description}}</label>
      <textarea class="form-control" name="descr" rows="6" placeholder="{{lang.description}}" readonly></textarea>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label>{{lang.price_sale}}</label>
        <input type="number" class="form-control" name="price_sale" placeholder="{{lang.price_sale}}" value="{{product.price.sale}}" min="0"/>
      </div>
      <div class="col">
        <label>{{lang.price_purchase}}</label>
        <input type="number" class="form-control" name="price_purchase" value="{{product.price.purchase}}" min="0"/>
      </div>
      <div class="col">
        <label>{{lang.margin}} %</label>
        <input type="number" class="form-control" value="{{percentage}}" readonly/>
      </div>
    </div>

    <div class="mb-3">
      <label>{{lang.quantity}}</label>
      <input type="number" class="form-control" name="quantity" placeholder="{{lang.quantity}}" value="{{product.rest}}" min="0"/>
    </div>

    <button type="button" class="btn btn-primary" id="viBtnMainSave">{{lang.save}}</button>
    <button type="button" class="btn btn-primary" id="viBtnMainUndo">{{lang.undo}}</button>
  </form>
</div>
