<div class="tab-pane fade m-3" id="product0" role="tabpanel" aria-labelledby="product0-tab">
  <h2 class="fw-bold mb-4">{{lang.product0}}</h2>

  <div>
    <form1 id="viFormProduct0" method="post">
      <div class="row mb-3">
        <div class="col-2">
          <input class="form-check-input" type="checkbox" name="chk_product0" {% if product0 %}checked{% endif %}/>
          <label class="form-check-label">{{lang.product0}}</label>
          <button type="button" class="btn btn-primary" name="btn_search" value="ok" title="{{lang.search}}"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form1>

    <div class="mb-3">
      <label>{{lang.category}}</label>
      <div class="d-flex">
        <input type="text" class="form-control m-1" value="{{product0.category_title}}" readonly/>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-8">
        <label>{{lang.name}}</label>
        <input type="text" class="form-control" value="{{product0.title}}" readonly/>
      </div>
      <div class="col-2">
        <label>{{lang.code}}</label>
        <input type="text" class="form-control"  value="{{product0.id}}" readonly/>
      </div>
      <div class="col-2">
        <label>{{lang.create_date}}</label>
        <input type="text" class="form-control" value="{{product0.create_date}}" readonly/>
      </div>
    </div>

    {% if product0.barcodes %}
    <div class="mb-3">
      <label>{{lang.code}}</label>
      <div class="d-flex">
        <input type="text" class="form-control m-1" value="{{product0.barcodes}}" readonly/>
      </div>
    </div>
    {% endif %}

    {% if product0.descr %}
    <div class="mb-3">
      <label>{{lang.description}}</label>
      <textarea class="form-control" rows="8" readonly>{{product0.descr}}</textarea>
    </div>
    {% endif %}

    {% if product0.features %}
    <div class="mb-3">
      <label>{{lang.features}}</label>
      <textarea class="form-control" rows="8" readonly>{{product0.features}}</textarea>
    </div>
    {% endif %}
  </div>

  <div class="row">
    {% for Rec in TDbList().Import(dbl_images0) %}
    <div class="card col-md-4 vCard">
      <div class="card-header">
        <a href="{{Rec.href}}"><img class="img-thumb" src="{{Rec.href}}"></a>
      </div>
      <div class="card-footer">
        <div class="vKeyValue">
          <span>{{lang.name}}</span><span>{{Rec.name}}</span>
          <span>{{lang.date}}</span><span>{{Rec.date}}</span>
          <span>{{lang.size}}</span><span>{{(Rec.size / 1000) | int}}Kb</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
