.control-group {
    margin-bottom: 10px;
}

.app-title {
    text-align: center;
    color: #777;
    font-size: 20px;
    font-weight: bold;
}

.login {
    margin: 20px auto;
    width: 300px;
}

.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}
