{% extends '_inc/layout1.j2' %}

{% block head %}
    <script type='module' src='/default/js/pages/common/home.js'></script>
    <script type='module' src='/default/js/pages/product/category.js' ></script>
{% endblock %}
