{% include 'inc/header.j2' %}
    <!--inc/left begin-->
    {% include 'inc/left.j2' %}
    <!--inc/left end-->
    <content>
      <!--inc/top begin-->
      {% include 'inc/top.j2' %}
      <!--inc/top begin-->
      <p>Ціни і наявність товарів уточняйте в менеджерів комп'ютерного магазину "ОСТЕР" Тернопіль, Руська, 41, або за телефоном: 0967007444.</p>
      <p>Після оформлення замовлення на сайті з Вами обов'язково зв'яжеться наш менеджер для уточнення всіх деталей</p>
      <title>Наші товари</title>
      <a class='category' href='#'>
        <logo class='goods'></logo>
        <name>Каталог товарів магазину Остер</name>
        <info>У нас Ви можете купити: ноутбуки, комп'ютери, планшети; навушники і колонки;  флешки і карти пам'яті, павер-банки й інші аксесуари; комплектуючі для комп'ютерів і ноутбуків.</info>
      </a>

      <title>Наші послуги</title>
      <services>
        <a class='category' href='#'>
          <logo class='change-cartridge'></logo>
          <name>Обмін картриджів або Вічний картридж</name>
          <info>Надаємо послуги із заправки, відновлення і обміну лазерних картриджів</info>
        </a>
        <a class='category' href='#'>
          <logo class='sysadmin'></logo>
          <name>Віддалений системний адміністратор</name>
          <info>Обслуговування фірм та офісів з комп'ютерами. Низькі ціни та висока якість обслуговування.</info>
        </a>
        <a class='category' href='#'>
          <logo class='c1'></logo>
          <name>1С - cупровід і консультації </name>
          <info>Наша компанія пропонує доступні ціни на послуги 1С:Підприємство, високий рівень кваліфікації фахівців, індивідуальний підхід до кожного клієнта і оперативність при виконанні поставлених завдань.</info>
        </a>
      </services>

      <block>
        <title>Ремонт принтерів, заправка картриджів</title>
        <p>Не друкує чи друкує неякісно принтер? Майстри сервісу Остер допоможуть вирішити проблему світлого друку, застрягання паперу у принтері, сторонніх звуків при друці, чорних смуг на папері та інші. Серед послуг сервісу: заправка лазерного картриджа, заправка струменевого картриджа, відновлення лазерних і стуменевих картриджів, Вічний картридж, ремонт принтера, встановлення СБПЧ.</p>
        <p>Отже... Потрібен ремонт принтера чи заправка картриджа у Тернополі? Не зволікай - в  "ОСТЕР" швидше завітай!</p>
      </block>
      <block>
        <title>Обслуговування підприємств</title>
        <p>Забезпечимо стабільну роботу комп'ютерної техніки на підприємствах та в організаціях:
          <list class='italic'>
            <item>Обслуговування серверів</item>
            <item>Обслуговування та підтримка локальної мережі підприємства</item>
            <item>Обслуговування робочих станцій.</item>
          </list>
          <right><a href='#'>докладніше >></a></right>
        </p>
      </block>
      
      <block>
        <title>Налаштування віддаленого робочого місця</title>
        <p>В сучасному світі дедалі частіше виникає потреба працювати віддалено. Це досить зручно - комп'ютер стоїть в офісі, а ти працюєш за ним перебуваючи вдома за своїм ноутбуком (чи домашнім комп'ютером).</p>
        <p>Цікаво? Якщо є потреба у схожих налаштуваннях, ми з радістю вам допоможемо.  Детальніше про налаштування віддаленого робочого місця читайте тут: Налаштування віддаленого робочого місця.</p>
        <p>З такими можливостями жоден карантин та жодна непередбачувана ситуація не страшна.</p>
      </block>
      
      <social>
        <text>Підписуйтесь і будьте в курсі новинок! Ми в соціальних мережах:</text>
        <a href='#' class='facebook'></a>
        <a href='#' class='instagram'></a>
        <a href='#' class='telegram'></a>
      </social>
      
      <blog>
        <article>
          <name><a href='#'>Сервер резервних копій Raspberry NAS</a></name>
          <blogname>додано до: <a href='#'>Операційна система Linux</a></blogname>
          <text>
            <img src='/default/img/blog/rasp-nas.png' />
            Щоденне автоматичне інкрементальне резервне копіювання важливих бухгалтерських файлів.Бекап (backup) 1С7, 1С8, Медок, Мої документи.На сьогоднішній день процедура резервного копіювання даних є необхідною для безпечного функціонування компанії.Резервне копіювання дозволяє відновити дані у разі апаратних проблем, чи шифрування файлів криптовірусом.&n..
          </text>
          <right><a href='#' class='more'>докладніше >></a></right>
        </article>
        
        <article>
          <name><a href='#'>Віддалений офіс на роутері MikroTik + PPTP VPN + RDP + 1С</a></name>
          <blogname>додано до: <a href='#'>Налаштування, лайфхаки, корисності</a></blogname>
          <text>
            <img src='/default/img/blog/mikrotik.png' />
            В звязку з тим, що на державному рівні введено карантин по боротьбі з коронавірусом 2019 багато підприємств переходять на віддалену роботу.Працювати віддалено з дому пробують все більше працівників офісів та компаній і оцінюють таку роботу справді зручною.Нам часто задають питання, як своїми силами налаштувати віддалену роботу бухгалтера, менеджера..
          </text>
          <right><a href='#' class='more'>докладніше >></a></right>
        </article>
      </blog>
    </content>
<!--inc/footer begin-->
{% include 'inc/footer.j2' %}
<!--inc/footer end-->
