 <border class='page menu'></border>
   <menu class='page'>
    <a href='#'>Головна</a>
    <a href='#'>Товари</a>
    <a href='#'>Послуги</a>
    <a href='#'>Доставка і оплата</a>
    <a href='#'>Обслуговування підприємств</a>
    <a href='#'>Блог</a>
    <a href='#'>Контакти</a>
   </menu>
