  </page>
  <footer>
    <grid class='page'>
      <cell>
        <title>Інформація</title>
        <a href='#'>Головна</a>
        <a href='#'>Товари</a>
        <a href='#'>Послуги</a>
        <a href='#'>Обслуговування підприємств</a>
        <a href='#'>Контакти</a>
        <a href='#'>Доставка і оплата</a>
      </cell>
      <cell>
        <title>Служба підтримки</title>
        <a href='#'>Контакти</a>
        <a href='#'>Повернення товару</a>
        <a href='#'>Карта сайту</a>
      </cell>
      <cell>
        <title>Додатково</title>
        <a href='#'>Виробники</a>
        <a href='#'>Подарункові сертифікати</a>
        <a href='#'>Партнерська програма</a>
        <a href='#'>Акції</a>
        <a href='#'>Блог</a>
      </cell>
      <cell>
        <title>Особистий Кабінет</title>
        <a href='#'>Особистий Кабінет</a>
        <a href='#'>Історія замовлень</a>
        <a href='#'>Закладки</a>
        <a href='#'>Розсилка</a>
      </cell>
    </grid>
  </footer>

 <call>
    <a href='#' onclick='javascript: alert("Модальне вікно ..."); return false;'>
      <icon class='phone' title='Замовити зворотній дзвінок'></icon>
    </a>
  </call>
</body>
</html>
