{% extends '_inc/layout1.j2' %}

{% block head %}
{% if page > 1 %}
<meta name="robots" content="noindex">
{% endif %}
<meta property="og:title" content="{{title}}">
<meta property="og:site_name" content="{{lang.url_}}">
{% if image %}
<meta property="og:image" content="{{image}}">
{% endif %}
{% if meta_descr %}
<meta property="og:description" content="{{meta_descr}}">
{% endif %}
{% endblock %}

{% block content %}
<!-- category + -->
<div class="container pb-2">
  <div class="breadcrumbs">
    {% for x in breadcrumbs %}
      <a href="{{x.href}}">/{{x.title}}</a>
    {% endfor %}
  </div>

  {% include '../_inc/products_a.j2' %}

  {% include '../_inc/pagination.j2' %}

  {% if descr and page == 1 %}
  <div class="mt-4">
    {{Text2Html(descr)}}
  </div>
  {% endif %}
</div>
<!-- category - -->
{% endblock %}
