{% extends '_inc/layout1.j2' %}

{% block head %}
<title>{{product.title}}</title>
<meta property="og:title" content="{{product.title}}">
<meta property="og:image" content="{{product.image}}"/>
<meta property="og:description" content="{{product.title}}"/>
<script>
    const gData = {
        "lang": {
            "added_to_cart": "{{lang.added_to_card}}",
            "already_in_cart": "{{lang.already_in_cart}}"
        }
    }

</script>
<script type="application/ld+json">
    {{schema}}
</script>
{% endblock %}

{% block content %}
{% include '../_inc/product.j2' %}
{% endblock %}
