{% extends '_inc/layout1.j2' %}

{% block head %}
<meta name="robots" content="index,follow"/>
<meta property="og:title" content="{{product.meta_title}}"/>
<meta property="og:image" content="{{product.image}}"/>
<meta property="og:description" content="{{product.meta_descr}}"/>
<meta property="og:type" content="product"/>
<meta property="og:site_name" content="{{lang.url_}}"/>
<meta property="og:locale" content="uk_UA"/>
<script>
  gData.updValue('lang', {
    "added_to_cart": "{{lang.added_to_card}}",
    "already_in_cart": "{{lang.already_in_cart}}"
  })
</script>

<script type="application/ld+json">
  {{schema}}
</script>

<script>
  LocalStorage = new TLocalStorage('protucts_viewed')
  LocalStorage.addItemToListCycle('{{product.id}}')
  LocalStorage.save()
</script>

<style>
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 2px;
    cursor: pointer;
  }
</style>
{% endblock %}

{% block content %}
<!-- product + -->
<div class="container pb-2">
    <div class="breadcrumbs">
    {% for x in breadcrumbs %}
      <a href="{{x.href}}">/{{x.title}}</a>
    {% endfor %}
    </div>
    <div class="row vProduct mt-2">
      <div class="col-md-6 text-center vBgMaster">
        <div class="vProductImg">
          <button class="arrow" onclick="slideImage(-1)">←</button>
          <img class="img-fluid border mt-2" src="{{product.image}}" id="viMainImg" alt="{{product.title}}"/>
          <button class="arrow" onclick="slideImage(1)">→</button>
        </div>
        <div class="border-top mt-3 vProductThumbs_X">
        {% for xImage in product.images %}
          <img src="{{xImage}}" class="img-thumbnail" onclick="changeImage(this, 'viMainImg', true)" alt="{{product.title}}"/>
        {% endfor %}
        </div>
      </div>

      <div class="col-md-6 p-3 vBgSlave">
        <div class="d-flex justify-content-between p-2">
          <div>
            <a class="btn" id="vTo_favorite" title="{{lang.to_favorite}}" value="favorite"><i class="fa fa-heart"></i></a>
            <a class="btn" id="vTo_compare" title="{{lang.to_compare}}" value="compare"><i class="fa fa-balance-scale"></i></a>
          </div>
          <span>{{lang.code}}: g{{product.id}} / {{product.idt}}</span>
        </div>

        <h1>{{product.category_title}} {{product.title}}</h1>
        <div class="pt-2 pb-2">
          {% if product.attr %}
            {% for Rec in TDbList().Import(product.attr) %}
              <h2>{{Rec.title}}: {{Rec.val}}</h2>
            {% endfor %}
          {% endif %}
          <h2>{{lang.condition}}: {% if product.cond_en == 'new' %} {{lang.new}} {% else %} {{lang.used}} {% endif %}</h2>
          <h2>{{lang.available}}: {{product.rest}}</h2>
          <!--
          <h2>{{lang.seller}}: <a href="{{href.tenant}}">{{product.tenant_title}}</a></h2>
          -->
        </div>

        {% set ns = namespace(Price=0) %}
        {% for Rec in TDbList().Import(product.price) %}
          {%- if Rec.price_new -%}
          {% set ns.Price = Rec.price_new %}
          <p class="h3 text-danger">{{Rec.price_new}} грн</p>
            <p>
              <span class="h3 text-decoration-line-through">{{Rec.qty}}{{lang.qty}} {{Rec.price}} грн</span>
              {{ "%.1f" | format((Rec.price_new / Rec.price * 100) - 100) }}%
             </p>
          {%- else -%}
            {% set ns.Price = Rec.price %}
            <p class="h4">{{lang.price}}: {{Rec.price}} грн</p>
          {%- endif %}
        {% endfor %}
        {% if product.rest %}
          <button type="button" class="btn btn-primary mt-3 viAddToCart" data='{"id":"{{product.id}}", "name":"{{product.title}}", "price":{{ns.Price}}, "img":"{{product.image}}", "qty":1, "href":"{{href.self}}"}'>
            <i class="fa fa-shopping-cart m-1"></i>{{lang.buy}}
          </button>
        {% else %}
          <button type="button" class="btn buyButtonOff mt-3" disabled>{{lang.not_available}}</button>
        {% endif%}
      </div>
    </div>

    <div class="row vBgMaster mt-1">
      <ul class="nav nav-tabs pt-3" id="productTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="features-tab" data-bs-toggle="tab" href="#features" role="tab" aria-controls="features" aria-selected="true">{{lang.features}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="details-tab" data-bs-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false">{{lang.description}}</a>
        </li>
      </ul>

      <div class="tab-content mt-1">
        <div class="tab-pane fade show active m-3" id="features" role="tabpanel" aria-labelledby="features-tab">
          <div class="accordion">
          {%- for Key, Val in product.features.items() %}
            <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse_{{loop.index}}">
              <h3>{{Key}}</h3>
            </button>
            <div id="collapse_{{loop.index}}" class="collapse">
            {%- for xVal in Val %}
              <div class="vItemOdd">{{xVal}}</div>
            {%- endfor %}
            </div>
          {%- endfor %}
          </div>
        </div>

        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
          {{product.descr | replace("\n", "<br/>")}}
        </div>
      </div>
    </div>
  </div>

  <script>
    for (const key of ['compare', 'favorite']) {
      document.getElementById('vTo_' + key).addEventListener('click', function (event) {
        ls = new TLocalStorage('products_' + key)
        ls.addItemToListUniq("{{product.id}}")
        ls.save()
        document.getElementById('viCount_' + key).innerHTML = ls.items.length
        showTooltip("{{lang.added}}")
      })
    }

    let curIdx = 0;
    const currentImage = document.getElementById("viMainImg");
    const images = document.getElementsByClassName("img-thumbnail")

    function slideImage(aStep) {
      curIdx += aStep;
        if (curIdx < 0) {
          curIdx = images.length - 1;
        } else if (curIdx >= images.length) {
          curIdx = 0;
        }
        currentImage.src = images[curIdx].src;
    }
  </script>
  <!-- product - -->
  {% endblock %}
