{% extends '_inc/layout1.j2' %}

{% block head %}
{% endblock %}

{% block content %}
<!-- category + -->
{% include '../_inc/products_a.j2' %}
{% include '../_inc/pagination.j2' %}
<!-- category - -->
{% endblock %}
