{% extends '_inc/layout1.j2' %}

{% block head %}
<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
<!-- search + -->
{% include '../_inc/products_a.j2' %}
{% include '../_inc/pagination.j2' %}
<!-- search - -->
{% endblock %}
