{% extends '_inc/layout1.j2' %}

{% block head %}
<meta property="og:title" content="{{title}}"/>
<meta property="og:site_name" content="{{lang.url_}}"/>
{% endblock %}

{% block content %}
<div class="container pb-2">
  <!-- tenant + -->
  {% include '../_inc/products_a.j2' %}

  {% include '../_inc/pagination.j2' %}
</div>
<!-- tenant - -->
{% endblock %}
