{% extends '_inc/layout1.j2' %}

{% block content %}
<!-- list + -->
<div class="container pb-3">
  <h1>{{title}}</h1>
  <div>
  {% for Rec in TDbList().Import(dbl_news) %}
    <div><a href="{{Rec.href}}">{{Rec.title}}</a></div>
  {% endfor %}
  </div>
  <div>
  {% include '../_inc/pagination.j2' %}
  </div>
</div>
<!-- list - -->
{% endblock %}
