/* ==================== */
/* === cart section === */
/* ==================== */

cart {
  display: grid;
  grid-template-columns: 45% 12.5% 12.5% 12.5% 12.5% 5%;
  text-align: center;
}

cart name, cart code, cart price, cart count, cart summ, cart trash {
  height: 100px;
  line-height: 80px;
  padding: 10px;
  vertical-align: center;
}

title.cart {
  height: 72px;
  line-height: 72px;
  padding-left: 100px;
  margin: 0 0 20px 0;
  background: url(../../icons/72/cart.png) top left no-repeat;
}

cart title {
  height: 50px;
  line-height: 50px;
  margin: 0;
  color: #fff;
  background: #09c linear-gradient(to bottom, #09c, #033) repeat-x;
}

cart name:nth-child(12n+13),
cart code:nth-child(12n+14),
cart count:nth-child(12n+15),
cart price:nth-child(12n+16),
cart summ:nth-child(12n+17),
cart trash:nth-child(12n+18)
{
  background: #f6f6f6;
}

cart name {
  display: flex;
  line-height: 24px;
  text-align: left;
  align-items: center;
}

cart name thumb {
  width: 80px;
  height: 80px;
  min-width: 80px;
  margin-right: 10px;
  border: 1px solid #ccc;
  background-repeat: no-repeat;
  background-size: cover;
}

cart count, cart trash {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

cart icon{
  width: 48px;
  height: 48px;
  margin: auto;
  vertical-align: center;
  cursor: pointer;
  border: 1px solid transparent;
}

cart icon.trash { background: url(../../icons/32/trash.png) center center no-repeat }
cart icon.minus { background: url(../../icons/32/minus.png) center center no-repeat }
cart icon.plus { background: url(../../icons/32/plus.png) center center no-repeat }

cart count input {
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 16rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

total {
  display: flex;
  justify-content: flex-end;
  height: 48px;
  line-height: 48px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #eee;
  border: 1px solid #333;
  margin-top: 50px;
  font-size: 20rem;
}

total label, total summ, total checkout {
  color: #333;
  padding: 0 40px 0 40px;
}

buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

a.continue, a.checkout {
  width: 200px;
  height: 36px;
  line-height: 36px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
}

a.continue {
  color: #000;
  border-color: #ccc;
  background: #ccc linear-gradient(to bottom, #fff, #ccc) repeat-x;
}

a.continue:hover {
  background: #ccc linear-gradient(to bottom, #ccc, #fff) repeat-x;
}

a.checkout {
  color: #fff;
  border-color: #333;
  background: #09c linear-gradient(to bottom, #09c, #033) repeat-x;
}

a.checkout:hover {
  color: #fee;
  background: #09c linear-gradient(to bottom, #033, #09c) repeat-x;
}

payment {
  display: flex;
  justify-content: center;
  height: 64px;
  line-height: 64px;
  margin-top: 10px;
}

payment icon {
  width: 64px;
  height: 64px;
  margin: 0 10px 0 10px;
}

icon.visa { background: url(../../icons/64/visa.png) top left no-repeat }
icon.mastercard { background: url(../../icons/64/mastercard.png) top left no-repeat }
icon.american { background: url(../../icons/64/american.png) top left no-repeat }
icon.cash { background: url(../../icons/64/cash.png) top left no-repeat }


