/* ======================= */
/* === catalog section === */
/* ======================= */

content category {
  container: catflex / inline-size;
  display: flex;
  flex-wrap: wrap;
}

content category item {
  display: inline-block;
  width: 50%;
  font-size: 14rem;
  background: url(../../icons/16/item2.png) left 4px no-repeat;
}

@container catflex (width > 800px) {
  item {
    max-width: calc(100% / 3);
    background: #ff0;
  }
}

content category item a {
  margin: 0 20px 0 20px;
}

/* ======================= */
/* === control section === */
/* ======================= */

content control {
  display: flex;
  height: 32px;
  margin-top: 20px;
  border: 0px solid;
}

content control mode {
  width: 42px;
  height: 32px;
  cursor: pointer;
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background: #e7e7e7;
  border: 1px solid #ccc;
}

content control mode.list{
  background: url(../../icons/32/list.png) center center no-repeat, linear-gradient(to bottom, #eee, #ccc);
  border-radius: 4px 0 0 4px;
  border-right: 0;
}

content control mode.grid{
  background: url(../../icons/32/grid.png) center center no-repeat, linear-gradient(to bottom, #eee, #fff);
  border-right: 0;
}
content control mode.compare{
  background: url(../../icons/32/compare.png) center center no-repeat, linear-gradient(to bottom, #eee, #ccc);
  border-radius: 0 4px 4px 0;
}

content control label {
  background: #eee;
  font-size: 12rem;
  line-height: 32px;
  padding: 0 10px 0 10px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
  border-right: 0;
}

content control select {
  min-width: 50px;
  margin-right: 20px;
  padding: 0 10px 0 10px;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  background: #ffe;
}

content control select:last-child {
  margin: 0;
}

content control select option {
  padding: 15px 0 15px 0;
}

/* ============= */
/* === goods === */
/* ============= */

content goods {
  container: goodflex / inline-size;
}

content goods grid {
  display: grid;
}

content goods grid item {
  position: relative;
  height: 230px;
  text-align: center;
  margin-top: 40px;
  border: 1px solid #ccc;
}

@container goodflex (width <= 800px) {
  grid {
    grid-template-columns: 50% 50%;
  }
  grid item {
    height: 480px !important;
    margin: 40px 20px 0 0;
  }
  grid item:nth-child(even) {
    margin: 40px 0 0 0;
  }
}

@container goodflex (width > 800px) {
  grid {
    grid-template-columns: 33.333% 33.333% 33.333%;
  }
  grid item {
    height: 480px !important;
    margin: 40px 20px 0 0;
  }
  grid item:nth-child(3n) {
    margin: 40px 0 0 0;
  }
}

content goods item panel {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 48px;
}

content goods item panel a {
  display: flex;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  font-weight: bold;
  border-left: 1px solid #ccc;
  background: linear-gradient(to bottom, #eee, #ddd);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

content goods item panel a:hover {
  background: linear-gradient(to bottom, #ddd, #ccc);
}

content goods item panel a.buy {
  flex: 1;
  border-left: 0;
}

content goods item panel icon {
  width: 48px;
  height: 48px;
  line-height: 48px;
  display: inline-block;
}

goods panel icon.buy { background: url(../../icons/48/cart.png) center center no-repeat }
goods panel icon.favorite { background: url(../../icons/48/favorite.png) center center no-repeat }
goods panel icon.compare { background: url(../../icons/48/compare.png) center center no-repeat }

content goods item name, content goods item info, content goods item price {
  text-align: center;
  padding: 0 10px 0 10px;
  font-size: 14px;
  overflow: hidden;
}

content goods item name {
  color: #09f;
  margin-top: 20px;
  max-height: 60px;
  font-weight: bold;
}

content goods item info {
  margin-top: 10px;
  max-height: 70px;
}

content goods item price {
  position: absolute;
  left: 0;
  bottom: 70px;
  width: 100%;
  font-size: 20px;
  text-align: center;
}

content goods grid.list {
  display: block;
}

content goods grid.list item {
  margin: 40px 0 0 0;
  min-height: 240px;
  max-height: 240px;
}

content goods grid.list item img {
  position: absolute;
  top: 5px;
  left: 0;
}

content goods grid.list item block {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  height: 100%;
}

content goods grid.list item panel a {
  width: 80px;
}