/* ==================== */
/* === menu section === */
/* ==================== */
border.menu {
  height: 10px;
  background: url(../../img/bg-menu.png) top left repeat-x;
  border-radius: 8px 8px 0 0;
}

menu {
  background: url(../../img/bg-menu.png) 0 -10px repeat-x;
  display: flex;
  height: 53px;
  line-height: 53px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

menu a {
  height: 40px;
  line-height: 40px;
  color: #ccc;
  font-size: 18rem;
  padding: 0 15px 0 15px;
  text-decoration: none;
  border: 0;
  border-right: 1px dotted #555;
}

menu a:hover {
  background: linear-gradient(to bottom, #444, #000) repeat-x;
}

menu a:first-child {
  margin-left: 20px;
}
