/* =================== */
/* === nav section === */
/* =================== */
nav {
  flex: 0 300px;
  padding: 20px;
}

nav phones, nav times {
  margin-top: 20px;
  padding: 0 0 0 70px;
  line-height: 24px;
}

nav phones { background: url(../../icons/48/phone.png) 20px 8px / 32px 32px no-repeat }
nav times { background: url(../../icons/48/clock.png) 20px 8px / 32px 32px no-repeat }

nav phone {
  font-size: 16rem;
  font-weight: bold;
  letter-spacing: 1.5rem;
}

nav time {
  font-weight: bold;
}

nav catalog a {
  display: list-item;
  list-style: square;
  list-style-position: inside;
  padding: 10px 5px 10px 10px;
  color: #000;
  font-size: 14rem;
  font-weight: bold;
  border: 1px solid #ccc;
  border-bottom: 0;
}

nav catalog a:last-child {
  border-bottom: 1px solid #ccc;
}

nav catalog a:hover {
  background: #eee;
}

nav catalog a.active {
  background: #eff;
}

nav catalog a.second {
  list-style: circle;
  list-style-position: inside;
  padding: 10px 5px 10px 30px;
  font-size: 14rem;
  font-weight: normal;
  color: #036;
}

nav open *, nav close * {
  display: inline;
  font-weight: bold;
}

nav close {
  color: #900;
}

