/* ============= */
/* === pages === */
/* ============= */

pages {
  display: flex;
  height: 50px;
  line-height: 50px;
  margin: 50px 0 50px 0;
  text-align: center;
  border: 0px solid #ccc;
}

pages left, pages right, pages start, pages end, pages data {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
}

pages left, pages right, pages start, pages end {
  background: #999;
  width: 50px;
  height: 50px;
}

page start, page end {
  background: #606060;
}

pages left, pages end {
  margin-left: 5px;
}

pages left:hover, page right:hover, pages start:hover, pages end:hover {
  color: #fff;
  background: #900;
}

pages data {
  flex: 1;
  position: relative;
  height: 50px;
  overflow: hidden;
}

pages data list {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 50px;
  transition: 2s;
}

pages data list page {
  display: inline-block;
  width: 50px;
  min-height: 50px;
  height: 50px;
  line-height: 50px;
  background: #ccc;
  font-size: 24px;
  border-radius: 10px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  border: 0;
}

pages data list page:hover, pages data list page.active {
  color: #fff;
  background: #005d7f;
}
