<title>{{title}}</title>
<catalog>
    <a href='#' level2='laptop.accessories'>Аксесуари для ноутбуків</a>
    <a href='#'>Кабелі та перехідники</a>

    {% for Rec in TDbList().Import(data) %}
    {% endfor %}
</catalog>
