<!-- category_attr + -->
<div class="container mt-3">
  {% if title %}
    <h2 class="fw-bold">{{ title }}</h2>
  {% endif %}

  {% if descr %}
    <div class="pt-4">
    {{ descr }}
    </div>
  {% endif %}
</div>
<!-- category_attr - -->
