<!-- category_popular + -->
<div class="container mt-3">
  <h2 class="fw-bold text-center">{{ title }}</h2>
  <div class="row gx-1">
  {% for Rec in TDbList().Import(dbl_category_popular) %}
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1 ">
      <div class="vCard ">
        <div class="card ">
          <a href="{{Rec.href}}">
            <div class="card-header vImgCenter rounded-top-3">
              <img src="{{Rec.thumb}}" alt="{{Rec.title}}">
            </div>
          </a>
          <h3 class="text-center">{{Rec.title}}</h3>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
<!-- category_popular - -->
