<!-- category_attr + -->
{% set DblAttr = TDbList().Import(dbl_category_attr) %}
{% if DblAttr.GetSize() > 0 %}
<div class="container1 mt-3">
  {% if title %}
    <h2 class="fw-bold">{{ title }}</h2>
  {% endif %}

  {% if descr %}
    <div class="pt-4">
    {{ descr }}
    </div>
  {% endif %}

  <div class="mt-3">
    <div class="accordion">
    {% for Rec in DblAttr %}
      <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse_attr_{{loop.index}}">
        {{Rec.title}}
      </button>
      <div id="collapse_attr_{{loop.index}}" class="collapse">
        {% for Attr, Count in Rec.attrs.items() %}
        <div>
          <input class="form-check-input attrChk" type="checkbox" id='{{Rec.attr_id}}_{{Attr}}' data-attrId='{{Rec.attr_id}}' value='{{Attr}}'>
          <label class="form-check-label" for='{{Rec.attr_id}}_{{Attr}}'>{{Attr}} ({{Count}})</label>
        </div>
        {%- endfor %}
      </div>
    {%- endfor %}
    </div>
    <form method="get" id="viFormMain">
      <div class="mt-2">
        <button type="submit" class="btn btn-primary" id="btnAttrFilter">{{lang.submit}}</button>
      </div>
    </form>
  </div>
</div>
{% endif %}

<script>
  function getChecked(aItems) {
    let Res = {}
    for (var xItem of aItems) {
      if (xItem.checked) {
        const attrId = xItem.getAttribute('data-attrId')
        if (attrId in Res) {
          Res[attrId].push(xItem.value)
        }else{
          Res[attrId] = [xItem.value]
        }
      }
    }
    return Res
  }

  function attrEncode(aItems) {
    let Res = '['
    for (const [Key, Value] of Object.entries(aItems)) {
      Res += `${Key}:`
      for (var xValue of Value) {
        Res += `${xValue};`
      }
      Res += ';'
    }
    Res += ']'
    return Res
  }

  function attrDecode(aItems) {
    const urlParams = new URLSearchParams(window.location.search)
    const attrParam = urlParams.get('attr');
    if (attrParam) {
      attrParam.slice(1, -1).split(';;').forEach(group => {
        if (group) {
          const [attrId, attrVal] = group.split(':')
          for (var xVal of attrVal.split(';')) {
            const id = `${attrId}_${xVal}`
            const element = document.getElementById(id)
            if (element) {
              element.checked = true
            }
          }
        }
      })
    }
  }

  function setChkEnabled(aItems, aEnable, aElement) {
    const attrIdCur = aElement.getAttribute('data-attrId')
    for (var xItem of Items) {
      const attrId = xItem.getAttribute('data-attrId')
      if (aEnable) {
        xItem.disabled = !aEnable
      }else if (attrIdCur != attrId) {
        xItem.disabled = !aEnable
      }
    }
  }

  const Items = document.querySelectorAll(".attrChk")
  attrDecode(Items)

  Items.forEach(function (element) {
    element.addEventListener('click', function (event) {
      const checked = getChecked(Items)
      if (Object.keys(checked).length > 0) {
        setChkEnabled(Items, false, event.target)

        const post = {
          'items': checked,
          'category_id': '{{category_id}}',
          'lang_id': '{{lang_id}}'
        }
        const data = new TSend().exec('/api/?route=module/category_attr', {'method': 'ajax', 'post': post})
        let Dbl = new TDbList().Import(data)
        for (let Rec of Dbl) {
          const attrId = Rec.GetField('attr_id')
          const attrVal = Rec.GetField('val')
          const attrCount = Rec.GetField('count')
          const id = `${attrId}_${attrVal}`
          const element = document.getElementById(id)
          if (element) {
            //element.childNodes[1].textContent = `${attrVal} (${attrCount})`
            //element.nextSibling.data = `-${attrVal} (${attrCount})`
            element.disabled = false
          }
        }
      } else {
        setChkEnabled(Items, true, event.target)
      }
    })
  })

  document.getElementById('viFormMain').addEventListener('submit', function(event) {
    event.preventDefault()
    //const q1 = encodeURIComponent('[1=21;3;5;;3=2;4;]')
    const Attr = attrEncode(getChecked(Items))
    const apiUrl = '/?route=product0/category&category_id={{category_id}}&attr=' + Attr
    window.location.href = apiUrl
  })
</script>
<!-- category_attr - -->
