{% block content %}
<!-- filter_attr + -->
<div class="container mt-3">
  {% if title %}
    <h2 class="fw-bold">{{ title }}</h2>
  {% endif %}

  <div>
  {% for Rec in TDbList().Import(dbl_filter_attr) %}
    <div>
      <a href="{{Rec.href}}">{{Rec.title}}</a>
    </div>
  {% endfor %}
  </div>
</div>
<!-- filter_attr - -->
{% endblock %}
