<!-- sitemap_v1 + -->
<div class="container mt-3">
  {% if title %}
    <h2 class="fw-bold">{{ title }}</h2>
  {% endif %}

  {% if descr %}
    <div class="pt-4">
    {{ descr }}
    </div>
  {% endif %}

  <div class="mt-3">
    <ul>
    {%- for x in categories_a[id_a] recursive %}
      {%- if x.id in categories_a %}
        <li><a href="{{x.href}}">{{x.title}} ({{x.products}})</a></li>
        <ul>
          {{ loop(categories_a[x.id])}}
        </ul>
      {%- else %}
        <li><a href="{{x.href}}">{{x.title}} ({{x.products}})</a></li>
      {%- endif %}
    {%- endfor %}
    </ul>
  </div>
</div>
<!-- sitemap_v1 - -->
