/* ========================== */
/* === optima tip section === */
/* ========================== */

tip.x {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 20px;
  right: -300px;
  width: 300px;
  height: 60px;
  background: #ff0;
  z-index: 10000;
  border: 1px solid #999;
  border-radius: 8px;
  opacity: 0;
  background: #ccc linear-gradient(to bottom, #ccc, #fff) repeat-x;
  transition: 1s ease;
}

tip.x-on {
  right: 30px;
  opacity: 1;
}

tip.x-off {
  top: 100px;
  opacity: 0;
}