
/* ====================== */
/* === common section === */
/* ====================== */
body {
  background-color: #e9e9e9;
  background-image: url(../img/bg-top.png), url(../img/bg-bottom.png);
  background-position: top left, left 0 bottom -370px;
  background-repeat: repeat-x, repeat-x;
}

.page {
  width: 1180px;
  margin: auto;
}

.end {
  margin-bottom: 50px;
}

title.xl { font-size: 28rem }
title.l  { font-size: 24rem }
title.m  { font-size: 20rem }
title.s  { font-size: 18rem }
title.xs { font-size: 16rem }

line { 
  width: 100%; 
  height: 1px; 
  background: #ccc;
  margin: 10px 0 10px 0;
}


/* ==================== */
/* === head section === */
/* ==================== */
header, header panel, header panel links, header panel currency {
  height: 40px;
  line-height: 40px;
}

header {
  background: #0A3E4B;
  border-bottom: 1px solid #1181AD;
}

header panel {
  display: grid;
  grid-template-columns: 150px auto;
}

header panel links, header panel currency {
  display: flex;
  flex-direction: row;
}

header panel currency {
  justify-content: flex-start;
  color: #fff;
}

header panel links {
  justify-content: flex-end;
  margin-right: 20px;
}

header panel a { color: #ccc  }
header panel a:hover { color: #fff  }

header panel icon.cart { background: url(../icons/64/light.png) 0 0 / auto 16px  no-repeat }
header panel icon.favorite { background: url(../icons/64/light.png) -16px 0 / auto 16px  no-repeat }
header panel icon.order { background: url(../icons/64/light.png) -32px 0 / auto 16px  no-repeat }
header panel icon.phone { background: #333 url(../icons/64/light.png) -48px 0 / auto 16px no-repeat }
header panel icon.user { background: url(../icons/64/light.png) -64px 0 / auto 16px  no-repeat }
header panel icon.money { background: url(../icons/64/light.png) -80px 0 / auto 16px  no-repeat }

/* =================== */
/* === top section === */
/* =================== */
top {
  display: flex;
  justify-content: space-between;
  height: 150px;
  background: url(../img/bg-header.jpg) top center no-repeat;
}

top logo {
  width: 320px;
  margin: 15px 0 0 30px;
  font-size: 16rem;
  color: #fff;
  text-align: center;
}

top logo > a img {
  width: 320px;
}

top logo address  {
  margin-top: 10px;
  color: #ccc;
}

top info {
  width: 300px;
  margin: 10px 20px 0 0;
}

top info * {
  height: 40px;
  line-height: 40px;
  margin-top: 15px;
  float: left;
  border: 0;
}

top info button.cart {
  width: 100%;
  background: linear-gradient(to bottom, #444, #222) repeat-x;
  font-size: 14rem;
  color: #fff;
  border-radius: 4px;
}

top info button.cart:hover {
  background: linear-gradient(to bottom, #444, #000) repeat-x;
}

top info input.search {
  width: 250px;
  padding: 0 10px 0 10px;
  border-radius: 4px 0 0 4px;
  color: #333;
  font-size: 14rem;
}

top info button.search {
  width: 50px;
  border-left: 1px solid #999;
  border-radius: 0 4px 4px 0;
  background: #eee url(../icons/48/search.png) center center / 24px 24px no-repeat;
}

top info button.search:hover {
  background-color: #ffe;
}


/* ==================== */
/* === menu section === */
/* ==================== */
border.menu {
  height: 10px;
  background: url(../img/bg-menu.png) top left repeat-x;
  border-radius: 8px 8px 0 0;
}

menu {
  background: url(../img/bg-menu.png) 0 -10px repeat-x;
  display: flex;
  height: 53px;
  line-height: 53px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

menu a {
  height: 40px;
  line-height: 40px;
  color: #ccc;
  font-size: 18rem;
  padding: 0 15px 0 15px;
  text-decoration: none;
  border: 0;
  border-right: 1px dotted #555;
}

menu a:hover {
  background: linear-gradient(to bottom, #444, #000) repeat-x;
}

menu a:first-child {
  margin-left: 20px;
}

/* ==================== */
/* === page section === */
/* ==================== */

page {
  background: #fff url(../img/bg-page.png) top left repeat-x;
  min-height: 900px;
  border-top: 0;
  border: 1px solid;
  border-bottom: 3px solid;
  border-color: #d4d4d4;
  border-radius: 0 0 8px 8px;
  line-height: 22px;
}

page flex {
  display: flex;
}

page title {
  font-size: 28rem;
  margin: 40px 0 20px 0;
}

page path {
  position: relative;
  margin: 20px;
  border-radius: 4px;
  font-size: 14rem;
  line-height: 32px;
  background: #eee;
  border: 1px solid #d4d4d4;
}

page path a {
  font-size: 12rem;
  color: #09f;
  padding: 0 10px 0 30px;
  background: url(../icons/16/sep.png) left top no-repeat;
}

page path a:hover {
  color: #039;
}

page path a.home {
  width: 32px;
  background: url(../icons/24/home.png) 15px 3px no-repeat;
}


/* =================== */
/* === nav section === */
/* =================== */
page nav {
  flex: 0 300px;
  padding: 20px;
}

page nav phones, page nav times {
  margin-top: 20px;
  padding: 0 0 0 70px;
  line-height: 24px;
}

page nav phones { background: url(../icons/48/phone.png) 20px 8px / 32px 32px no-repeat }
page nav times { background: url(../icons/48/clock.png) 20px 8px / 32px 32px no-repeat }

page nav phone {
  font-size: 16rem;
  font-weight: bold;
  letter-spacing: 1.5rem;
}

page nav time {
  font-weight: bold;
}

page nav catalog a {
  display: list-item;
  list-style: square;
  list-style-position: inside;
  padding: 10px 5px 10px 10px;
  color: #000;
  font-size: 14rem;
  font-weight: bold;
  border: 1px solid #ccc;
  border-bottom: 0;
}

page nav catalog a:last-child {
  border-bottom: 1px solid #ccc;
}

page nav catalog a:hover {
  background: #eee;
}

page nav catalog a.active {
  background: #eff;
}

page nav catalog a.second {
  list-style: circle;
  list-style-position: inside;
  padding: 10px 5px 10px 30px;
  font-size: 14rem;
  font-weight: normal;
  color: #036;
}

page nav open *, page nav close * {
  display: inline;
  font-weight: bold;
}

page nav close {
  color: #900;
}

/* ======================= */
/* === content section === */
/* ======================= */
page content {
  flex: 1;
  padding: 20px;
}

page content * {
  color: #333;
}

page content banner.alert {
  min-height: 128px;
  font-size: 20rem;
  line-height: 32px;
  color: #000;
  font-weight: bold;
  border: 2px solid #333;
  border-radius: 4px;
  background: #eee url(../icons/128/alert.png) 20px top no-repeat;
}

page content banner.alert message {
  margin: 20px;
  margin-left: 150px;
  text-align: center;
}

page content banner.alert message text:last-child {
  font-size: 24rem;
  font-weight: bold;
  color: #900;
}

page content a {
  color: #09f;
}

page content a:hover {
  color: #039;
}

page content services {
  container: servflex / inline-size;
}

@container servflex (width > 800px) {
  a {
    width: calc(50% - 20px);
    vertical-align: top;
  }
}

page content a.category {
  position: relative;
  min-height: 120px;
  margin: 5px;
  transition: .5s ease;
  padding: 20px 10px 10px 140px;
  border-radius: 4px;
}

page content a.category:hover {
  transform: translateY(-7px);
  box-shadow: 0 22px 50px rgba(14, 21, 47, 0.2), 0 8px 20px rgba(14, 21, 47, 0.2);
}

page content a.category logo {
  position: absolute;
  top: 10px;
  left: 10px;
  float: left;
  width: 100px;
  height: 100px;
  border: 2px #cacaca solid;
  border-radius: 50%;
  box-shadow: #545454 4px 2px 2px;
  background-position: center center;
  background-repeat: no-repeat;
}

page content a .category name {
  font-size: 20rem;
  color: #069;
  margin-bottom: 10px;
}

page content blog {
  container: blogflex / inline-size;
}

page content blog article {
  display: inline-block;
  margin: 20px 0 0 0;
}

@container blogflex (width > 800px) {
  article {
    width: calc(50% - 20px);
    vertical-align: top;
  }
}

page content blog article:nth-child(odd) {
  margin-right: 10px;
}

page content blog article:nth-child(even) {
  margin-left: 10px;
}

page content blog article name {
  font-size: 18rem;
  height: 24px;
  overflow: hidden;
}

page content blog article blogname {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 10px 0 10px 0;
  padding: 5px;
  background: #ffe;
  white-space: nowrap;
  overflow: hidden;
}

page content blog article img {
  width: 128px;
  float: left;
  margin: 0 20px 10px 0;
}

page content blog article text {
  max-height: 200px;
  text-align: justify;
  overflow: hidden;
}


/* ====================== */
/* === footer section === */
/* ====================== */

footer {
  margin-top: 100px;
}

footer grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding-bottom: 20px;
}

footer cell {
  text-align: left;
  padding: 0 0 0 30px;
}

footer cell title {
  font-weight: bold;
  color: #ffc;
  margin: 0 0 10px 0;
}

footer cell a {
  display: block;
  color: #ccc;
  line-height: 22px;
}

footer cell a:hover {
  color: #fff;
}

/* ======================== */
/* === category section === */
/* ======================== */

content category {
  container: catflex / inline-size;
  display: flex;
  flex-wrap: wrap;
}

content category item {
  display: inline-block;
  width: 50%;
  font-size: 14rem;
  background: url(../icons/16/item2.png) left 4px no-repeat;
}

@container catflex (width > 800px) {
  item {
    max-width: calc(100% / 3);
    background: #ff0;
  }
}

content category item a {
  margin: 0 20px 0 20px;
}

/* ======================= */
/* === control section === */
/* ======================= */

content control {
  display: flex;
  height: 32px;
  margin-top: 20px;
  border: 0px solid;
}

content control mode {
  width: 42px;
  height: 32px;
  cursor: pointer;
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background: #e7e7e7;
  border: 1px solid #ccc;
}

content control mode.list{
  background: url(../icons/32/list.png) center center no-repeat, linear-gradient(to bottom, #eee, #ccc);
  border-radius: 4px 0 0 4px;
  border-right: 0;
}

content control mode.grid{
  background: url(../icons/32/grid.png) center center no-repeat, linear-gradient(to bottom, #eee, #fff);
  border-right: 0;
}
content control mode.compare{
  background: url(../icons/32/compare.png) center center no-repeat, linear-gradient(to bottom, #eee, #ccc);
  border-radius: 0 4px 4px 0;
}

content control label {
  background: #eee;
  font-size: 12rem;
  line-height: 32px;
  padding: 0 10px 0 10px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
  border-right: 0;
}

content control select {
  min-width: 50px;
  margin-right: 20px;
  padding: 0 10px 0 10px;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  background: #ffe;
}

content control select:last-child {
  margin: 0;
}

content control select option {
  padding: 15px 0 15px 0;
}

/* ============= */
/* === goods === */
/* ============= */

content goods {
  container: goodflex / inline-size;
}

content goods grid {
  display: grid;
}

content goods grid item {
  position: relative;
  height: 230px;
  text-align: center;
  margin-top: 40px;
  border: 1px solid #ccc;
}

@container goodflex (width <= 800px) {
  grid {
    grid-template-columns: 50% 50%;
  }
  grid item {
    height: 480px !important;
    margin: 40px 20px 0 0;
  }
  grid item:nth-child(even) {
    margin: 40px 0 0 0;
  }
}

@container goodflex (width > 800px) {
  grid {
    grid-template-columns: 33.333% 33.333% 33.333%;
  }
  grid item {
    height: 480px !important;
    margin: 40px 20px 0 0;
  }
  grid item:nth-child(3n) {
    margin: 40px 0 0 0;
  }
}

content goods item panel {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 48px;
}

content goods item panel a {
  display: flex;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  font-weight: bold;
  border-left: 1px solid #ccc;
  background: linear-gradient(to bottom, #eee, #ddd);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

content goods item panel a:hover {
  background: linear-gradient(to bottom, #ddd, #ccc);
}

content goods item panel a.buy {
  flex: 1;
  border-left: 0;
}

content goods item panel icon {
  width: 48px;
  height: 48px;
  line-height: 48px;
  display: inline-block;
}

goods panel icon.buy { background: url(../icons/48/cart.png) center center no-repeat }
goods panel icon.favorite { background: url(../icons/48/favorite.png) center center no-repeat }
goods panel icon.compare { background: url(../icons/48/compare.png) center center no-repeat }

content goods item name, content goods item info, content goods item price {
  text-align: center;
  padding: 0 10px 0 10px;
  font-size: 14px;
  overflow: hidden;
}

content goods item name {
  color: #09f;
  margin-top: 20px;
  max-height: 60px;
  font-weight: bold;
}

content goods item info {
  margin-top: 10px;
  max-height: 70px;
}

content goods item price {
  position: absolute;
  left: 0;
  bottom: 70px;
  width: 100%;
  font-size: 20px;
  text-align: center;
}

content goods grid.list {
  display: block;
}

content goods grid.list item {
  margin: 40px 0 0 0;
  min-height: 240px;
  max-height: 240px;
}

content goods grid.list item img {
  position: absolute;
  top: 5px;
  left: 0;
}

content goods grid.list item block {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  height: 100%;
}

content goods grid.list item panel a {
  width: 80px;
}

/* ============= */
/* === pages === */
/* ============= */

pages {
  display: flex;
  height: 50px;
  line-height: 50px;
  margin: 50px 0 50px 0;
  text-align: center;
  border: 0px solid #ccc;
}

pages left, pages right, pages start, pages end, pages data {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
}

pages left, pages right, pages start, pages end {
  background: #999;
  width: 50px;
  height: 50px;
}

page start, page end {
  background: #606060;
}

pages left, pages end {
  margin-left: 5px;
}

pages left:hover, page right:hover, pages start:hover, pages end:hover {
  color: #fff;
  background: #900;
}

pages data {
  flex: 1;
  position: relative;
  height: 50px;
  overflow: hidden;
}

pages data list {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 50px;
  transition: 2s;
}

pages data list page {
  display: inline-block;
  width: 50px;
  min-height: 50px;
  height: 50px;
  line-height: 50px;
  background: #ccc;
  font-size: 24px;
  border-radius: 10px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  border: 0;
}

pages data list page:hover, pages data list page.active {
  color: #fff;
  background: #005d7f;
}


/* ============== */
/* === social === */
/* ============== */

social {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 72px;
  height: 172px;
  padding-top: 5px;
  /*animation: pong 1s linear infinite;*/
}

social:hover {
  animation: none;
}

social a {
  width: 72px;
  height: 72px;
  margin-bottom: 10px;
}

social a.callback { background: url(../icons/72/callback.png) top left no-repeat }
social a.share { background: url(../icons/72/share.png) top left no-repeat }

social a.facebook { background: url(../icons/48/meta.png) top left no-repeat }
social a.instagram { background: url(../icons/48/instagram.png) top left no-repeat }
social a.telegram { background: url(../icons/48/telegram.png) top left no-repeat }

@keyframes pong {
  0% { padding-top: 0; }
  50% { padding-top: 5px; }
  100% { padding-top: 0; }
}

social share {
  position: fixed;
  right: 100px;
  bottom: 30px;
  width: 0;
  height: 48px;
  white-space: nowrap;
  overflow: hidden;
  transition: 1s linear infinite;
}

social share a {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}


/* =========== */
/* === end === */
/* =========== */

body {
  display: initial !important;
}
