{% extends '_inc/layout1.j2' %}

{% block head %}
<!-- products + -->
    <script>
        let Redirect = new TRedirect('/tenant/?route=product/product&product_id={id}')
    </script>
<!-- products - -->
{% endblock %}

{% block content %}
<!-- products + -->
{% include '../_inc/products_b.j2' %}
{% include '../_inc/pagination.j2' %}
<!-- products - -->
{% endblock %}
