{% extends '_inc/layout1.j2' %}

{% if product.price.sale and product.price.purchase %}
    {% set percentage = ((product.price.sale / product.price.purchase * 100) - 100) | round(1) %}
{% else %}
    {% set percentage = 0 %}
{% endif %}


{% block content %}
<!-- content product + -->
<div class="container mt-3 vBgMaster">
  <h2>{{lang.edit_product}}</h2>

  <div class="row vBgMaster mt-1">
    <ul class="nav nav-tabs pt-3" id="productTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="main-tab" data-bs-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="true">{{lang.main}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="images-tab" data-bs-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="false">{{lang.images}}</a>
        </li>
    </ul>

    <div class="tab-content mt-1">
      <div class="tab-pane fade show active m-3" id="main" role="tabpanel" aria-labelledby="main-tab">
          <h2 class="fw-bold mt-2 ">{{lang.main}}</h2>
          <form id="viFormMain" method="post">
              <div class="mb-3">
                  <input  type="checkbox" name="enabled" id="chkInput" {% if product.enabled %}checked{% endif %}/>
                  <label class="form-check-label">{{lang.enabled}}</label>
              </div>

              <div class="mb-3">
                  <label>{{lang.category}}</label>
                  <div class="d-flex">
                      <input type="hidden" id="viCategoryId" name="category_id" value="{{product.category_id}}">
                      <input type="text" class="form-control m-1" name="category_title" id="viCategoryTitle" value="{{product.category_title}}" readonly/>
                      <ul class="navbar-nav" title="{{lang.categories}}">
                          <li class="nav-item dropdown" id="viCategory">
                              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="viCategoryMenu"><i class="fa fa-bars" style="font-size: 1.5em;"></i></a>
                              <ul class="dropdown-menu" id="viCategoryItems">
                              </ul>
                          </li>
                      </ul>
                  </div>
              </div>

              <div class="row mb-3">
                  <div class="col-10">
                    <label>{{lang.name}}</label>
                    <input type="text" class="form-control" name="title" placeholder="{{lang.name}}" value="{{product.title}}"/>
                  </div>
                    <div class="col-2">
                      <label>{{lang.code}}</label>
                      <input type="text" class="form-control"  value="{{product.id}} / {{product.idt}}" readonly/>
                    </div>
              </div>

              <div class="mb-3">
                <label>{{lang.descr}}</label>
                <textarea class="form-control" name="descr" rows="3" placeholder="{{lang.description}}" readonly></textarea>
              </div>

              <div class="row mb-3">
                <div class="col">
                  <label>{{lang.price_sale}}</label>
                  <input type="number" class="form-control" name="price_sale" placeholder="{{lang.price_sale}}" value="{{product.price.sale}}" min="0"/>
                </div>
                <div class="col">
                  <label>{{lang.price_purchase}}</label>
                  <input type="number" class="form-control" name="price_purchase" value="{{product.price.purchase}}" min="0"/>
                </div>
                <div class="col">
                  <label>{{lang.margin}} %</label>
                  <input type="number" class="form-control" value="{{percentage}}" readonly/>
                </div>
              </div>

              <div class="mb-3">
                <label>{{lang.quantity}}</label>
                <input type="number" class="form-control" name="quantity" placeholder="{{lang.quantity}}" value="{{product.rest}}" min="0"/>
              </div>

              <button type="button" class="btn btn-primary" id="viBtnMainSave">{{lang.save}}</button>
              <button type="button" class="btn btn-primary" id="viBtnMainUndo">{{lang.undo}}</button>
        </form>
      </div>

      <div class="tab-pane fade m-3" id="images" role="tabpanel" aria-labelledby="images-tab">
        <h2 class="fw-bold mb-4">{{lang.images}}</h2>
        <div class="row">
        {% for Rec in TDbList().Import(dbl_images) %}
          <div class="card col-md-4 vCard">
            <div class="card-header">
              <a href="{{Rec.href}}"><img class="img-thumb" src="{{Rec.href}}"></a>
            </div>
            <div class="card-footer">
              <span>{{lang.file}}:<input type="text" name="file" value="{{Rec.name}}" readonly></span>
              <span>{{lang.sort_order}}:<input type="number" class="vInputQty" name="sort_order" value="{{Rec.sort_order}}"></span>
              <span>{{lang.delete}}:<input type="checkbox" name="chk_file_{{loop.index}}" value="{{4}}"></span>
              <p></p>
              <span>{{lang.date}}:{{Rec.date}}</span>
              <span>{{lang.size}}:{{(Rec.size / 1000) | int}}Kb</span>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
  </div>
</div>
<!-- content product + -->
{% endblock %}


{% block foot %}
<!-- foot product + -->
<script>
    gData.updValue('href', {
        "category_ajax": "{{href_layout.category_ajax}}"
    })
</script>

<script src="/default/assets/js/submenu_ajax.js"></script>
<script src="/tenant/default/assets/js/product.js"></script>
<!-- foot product - -->
{% endblock %}
