{% extends '_inc/layout1.j2' %}

{% block content %}
<!-- product + -->
<div class="container mt-3">
  <h2>Edit Product</h2>
  
    <form>
        <div class="mb-3">
            <input class="form-check-input" type="checkbox" id="Checkbox" checked>
            <label class="form-check-label" for="Checkbox">{{lang.enabled}}</label>
        </div>

        <div class="mb-3">
            <label>{{lang.category}}</label>
            <div class="d-flex">
                <ul class="navbar-nav" title="categories">
                    <li class="nav-item dropdown" id="viMainNavbar2">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" onclick="navbarCategoryClick()" href="#"><i class="fa fa-bars" style="font-size: 2.0em;"></i></a>
                        <ul class="dropdown-menu" id="viMainNavbarItems">
                            <li><a class="dropdown-item" href="#">item1 </a></li>
                            <li><a class="dropdown-item" href="#">item2 </a></li>
                        </ul>
                    </li>
                </ul>
                <h5 class="m-2">{{product.category_title}}<h5>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-11">
              <label for="Name" class="form-label">{{lang.name}}</label>
              <input type="text" class="form-control" name="name" placeholder="product name" value="{{product.title}}">
            </div>
              <div class="col-1">
                <label class="form-label">{{lang.code}}</label>
                <h5>{{product.id}}/{{product.idt}}<h5>
              </div>
        </div>

        <div class="mb-3">
          <label for="Description" class="form-label">{{lang.descr}}</label>
          <textarea class="form-control" id="Description" rows="3" placeholder="{{lang.description}}"></textarea>
        </div>
        
        <div class="row mb-3">
          <div class="col">
            <label for="salePrice" class="form-label">Sale price</label>
            <input type="text" class="form-control" name="price_sale" placeholder="Enter sale price" value="{{product.price}}">
          </div>
          <div class="col">
            <label>Incoming Price</label>
            <h5>1234<h5>
          </div>
          <div class="col">
            <label>Margin</label>
            <h5>12%<h5>
          </div>
        </div>
        
        <div class="mb-3">
          <label for="Quantity" class="form-label">{{lang.quantity}}</label>
          <input type="text" class="form-control" name="quantity" placeholder="Enter product quantity">
        </div>
        
        <div class="mb-3">
          <label for="Images" class="form-label">{{lang.images}}</label>
          <input type="file" class="form-control" id="Images" multiple>
        </div>
        
        <button type="submit" class="btn btn-primary">{{lang.save}}</button>
  </form>
</div>
<!-- product + -->
{% endblock %}
