{% extends '_inc/layout1.j2' %}

{% block content %}
<!-- products + -->
<div class="container mt-4">
    <div class="row sticky-header">
        <div class="col-1">{{lang.id}}</div>
        <div class="col-6">{{lang.name}}</div>
        <div class="col-2">{{lang.image}}</div>
        <div class="col-3">{{lang.price}}</div>
    </div>

    {% for Rec in TDbList().Import(dbl_products_b) %}
    <div class="row product" onclick="redirectToProductPage(1)">
        <div class="col-1">{{Rec.id}}/{{Rec.idt}}</div>
        <div class="col-6">{{Rec.title}}</div>
        <div class="col-2"><img src="{{Rec.image}}"></div>
        <div class="col-3">{{Rec.price}}</div>
    </div>
    {% endfor %}
</div>
<!-- products - -->
{% endblock %}
