{% extends '_inc/layout1.j2' %}

{% block head %}
  <script type='module' src='/default/js/pages/checkout/history.js' ></script>
{% endblock %}

{% block content %}
    <title class='eye'>{{lang.order}}: {{doc_attr.order_id}}, {{doc_attr.actual_date}}, {{doc_attr.firstname}}</title>
    <cart class='history'>
     <titles>
        <title class='s'>{{lang.foto}}</title>
        <title class='s'>{{lang.name}}</title>
        <title class='s'>{{lang.code}}</title>
        <title class='s'>{{lang.quantity}}</title>
        <title class='s'>{{lang.price}}</title>
        <title class='s'>{{lang.together}}</title>
      </titles>

      {% set DblDocTable = TDbList().Import(doc_table) %}
      {% for Rec in DblDocTable %}
        <item code="{{Rec.idt}}" pid="{{Rec.id}}">
          <a href="{{Rec.href}}" title="{Rec.title}}" style="background-image: url({{Rec.thumb}})"></a>
          <name><a href="{{Rec.href}}" title="{Rec.title}}">{{Rec.title}}</a></name>
          <code>{{Rec.idt}}</code>
          <qty>{{Rec.qty}}</qty>
          <price>{{Rec.price}}</price>
          <sum>{{Rec.summ}}</sum>
        </item>
      {% endfor %}
    </cart>

    <total>
      <num label='{{lang.products_ordered}}'>{{DblDocTable.GetSize()}}</num>
      <flex></flex>
      <sum label='{{lang.sum}}'>{{doc_attr.summ}}</sum>
    </total>

    <buttons>
      <button class='checkout reload'>{{lang.refresh}}</button>
      <button class='checkout' href='{{href.confirm}}'>{{lang.orders_all}}</button>
    </buttons>
  </template>
{% endblock %}
