{% extends '_inc/layout1.j2' %}

{% block head %}
  <script type='module' src='/default/js/pages/checkout/cart.js' ></script>
{% endblock %}

{% block content %}
      <title class='cart'>{{lang.shopping_cart}}</title>
      <!-- template for cart -->
      <template class='hide'>
       <item code=0 pid=0>
          <a href='/product.shtml' title='{{lang.product_view}}'><thumb></thumb></a>
          <name><a href='/product.shtml' title='{{lang.product_view}}'></a></name>
          <code></code>
          <qty>
            <minus>-</minus>
            <input type='text' maxlength=3 value='' min=1 max=10 step=1 required>
            <plus>+</plus>
          </qty>
          <price></price>
          <sum></sum>
          <cbox><input type='checkbox' title='виділити'/></cbox>
        </item>
      </template>
      <!-- /template for cart -->

      <cart>
        <titles>
          <title class='s thumb'>{{lang.foto}}</title>
          <title class='s name'>{{lang.name}}</title>
          <title class='s code'>{{lang.code}}</title>
          <title class='s qty'>{{lang.quantity}}</title>
          <title class='s price'>{{lang.price}}</title>
          <title class='s sum'>{{lang.together}}</title>
          <cbox><input type='checkbox' title='{{lang.select_all}}'/></cbox>
        </titles>
      </cart>

      <empty class='hide'>{{lang.cart_empty}}</empty>

      <total>
        <num label='{{lang.product_count}}:'></num>
        <flex></flex>
        <sum label='{{lang.to_pay}}:'></sum>
      </total>

      <buttons>
        <button class='category icon-back'>{{lang.continue_shopping}}</button>
        <button class='remove icon-trash'>{{lang.delete_selected}}</button>
      </buttons>

      <payment>
        <label>{{lang.payment_type}}:</label>
        <type class='bitcoin'></type>
        <type class='card'></type>
        <type class='cash'></type>
      </payment>

      <buttons class='checkout'>
        <button class='checkout icon-ok'>{{lang.checkout}}</button>
      </buttons>
{% endblock %}
