{% extends '_inc/layout1.j2' %}

{% block head %}
  <script type='module' src='/default/js/cart.js' ></script>
{% endblock %}

{% block content %}
      <title class='cart'>{{lang.shopping_cart}}</title>
      <!-- template for cart -->
      <template class='hide'>
        <item>
          <a href='/product2.shtml' title='{{lang.product_view}}'><thumb style='background-image:url(/default/img/pixel.gif)'></thumb></a>
          <a href='/product2.shtml' title='{{lang.product_view}}'><name></name></a>
        </item>
        <code></code>
        <count>
          <minus>-</minus>
          <input type='text' maxlength='3' value='' required>
          <plus>+</plus>
        </count>
        <price></price>
        <sum></sum>
        <trash><icon>t</icon></trash>
      </template>
      <!-- /template for cart -->

      <cart>
        <title class='s'>{{lang.name}}</title>
        <title class='s'>{{lang.code}}</title>
        <title class='s'>{{lang.quantity}}</title>
        <title class='s'>{{lang.price}}</title>
        <title class='s'>{{lang.together}}</title>
        <title class='s'></title>
      </cart>
      <empty class='hide'>{{lang.cart_empty}}</empty>
      <total>
        <label>{{lang.product_count}}:</label>
        <num></num>
        <flex></flex>
        <label>{{lang.to_pay}}:</label>
        <sum></sum>
      </total>
      <payment>
        <label>{{lang.payment_type}}:</label>
        <input type='radio' name='payment' value='bitcoin'>
        <icon class='bitcoin'></icon>
        <input type='radio' name='payment' value='visa'>
        <icon class='visa'></icon>
        <input type='radio' name='payment' value='mastercard'>
        <icon class='mastercard'></icon>
        <input type='radio' name='payment' value='cash'>
        <icon class='cash'></icon>
      </payment>
      <buttons>
        <button href='{{href.catalog}}' class='continue' onclick='history.go(-1)'>{{lang.continue_shopping}}</button>
        <button href='{{href.confirm}}' class='checkout'>{{lang.checkout}}</button>
      </buttons>
{% endblock %}
