{% extends '_inc/layout1.j2' %}

{% block head %}
  <script type='module' src='/default/js/history.js' ></script>
{% endblock %}

{% block content %}
      <!-- template for order -->
      <template class='order hide'>
        <title class='eye'>{{lang.order}}: </title>
        <cart>
          <title class='s'>{{lang.name}}</title>
          <title class='s'>{{lang.code}}</title>
          <title class='s'>{{lang.quantity}}</title>
          <title class='s'>{{lang.price}}</title>
          <title class='s'>{{lang.together}}</title>
          <title class='s'></title>
        </cart>
        <total>
          <label>{{lang.products_ordered}}:</label>
          <num></num>
          <flex></flex>
          <label>{{lang.sum}}:</label>
          <sum></sum>
        </total>
      </template>
      <!-- /template for order -->

      <!-- template for cart -->
      <template class='cart hide'>
        <item>
          <a href='/product.shtml' title='{{lang.product_view}}'><thumb style='background-image:url(img/pixel.gif)'></thumb></a>
          <a href='/product.shtml' title='{{lang.product_view}}'><name></name></a>
        </item>
        <code></code>
        <count></count>
        <price></price>
        <sum></sum>
        <trash><icon>O</icon></trash>
      </template>
      <!-- /template for cart -->

      <!-- template for buttons -->
      <template class='buttons hide'>
        <buttons>
          <button href='#' class='checkout'>{{lang.refresh}}</button>
          <button href='#' class='checkout'>{{lang.orders_all}}</button>
        </buttons>
      </template>
      <!-- /template for buttons -->
{% endblock %}
