{% extends '_inc/layout1.j2' %}

{% block head %}
  <script type='module' src='/default/js/pages/checkout/history.js' ></script>
{% endblock %}

{% block content %}
      <!-- template for order -->
      <template class='order hide'>
        <title class='eye'>{{lang.order}}: </title>
        <cart class='history'>
         <titles>
            <title class='s'>{{lang.foto}}</title>
            <title class='s'>{{lang.name}}</title>
            <title class='s'>{{lang.code}}</title>
            <title class='s'>{{lang.quantity}}</title>
            <title class='s'>{{lang.price}}</title>
            <title class='s'>{{lang.together}}</title>
          </titles>
        </cart>

        <total>
          <num label='{{lang.products_ordered}}'></num>
          <flex></flex>
          <sum label='{{lang.sum}}'></sum>
        </total>
      </template>
      <!-- /template for order -->

      <!-- template for cart -->
      <template class='cart hide'>
       <item code=0 pid=0>
          <a href='/product.shtml' title='{lang.product_view}}'><thumb></thumb></a>
          <name><a href='/product.shtml' title='{lang.product_view}}'></a></name>
          <code></code>
          <qty></qty>
          <price></price>
          <sum></sum>
        </item>
      </template>
      <!-- /template for cart -->

      <!-- template for buttons -->
      <template class='buttons hide'>
       <buttons>
          <button class='checkout reload'>{{lang.refresh}}</button>
          <button class='checkout'>{{lang.orders_all}}</button>
        </buttons>
      </template>
      <!-- /template for buttons -->
{% endblock %}
