{% extends '_inc/layout1.j2' %}

{% block content %}
<!-- payment + -->
<div class="container pb-2">
  <form autocomplete="off" id="formPayment" method="post">
    <div class="row">
      <div class="col">
        <h3>{{lang.contact_info}}</h3>
        <div class="mb-3">
          <label for="first_name" class="form-label">{{lang.first_name}}*</label>
          <input type="text" class="form-control" name="first_name" required/>
        </div>
        <div class="mb-3">
          <label for="last_name" class="form-label">{{lang.last_name}}*</label>
          <input type="text" class="form-control" name="last_name" required/>
        </div>
        <div class="mb-3">
          <label for="middle_name" class="form-label">{{lang.middle_name}}*</label>
          <input type="text" class="form-control" name="middle_name" required/>
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">{{lang.phone}}*</label>
          <input type="text" class="form-control" name="phone" required/>
        </div>
      </div>
      <div class="col">
        <h3>{{lang.delivery}}</h3>
        <div class="mb-3">
          <label for="town" class="form-label">{{lang.transport}}*</label>
          <input type="text" class="form-control" id="transport" name="transport" value="{{lang.nova_poshta}}" required readonly>
        </div>
        <div class="mb-3">
          <label for="town" class="form-label">{{lang.town}}*</label>
          <input type="text" class="form-control" id="town" name="town" list="town_options" required/>
          <datalist id="town_options">
            <!-- JS -->
          </datalist>
          <input type="hidden" id="town_ref"/>
        </div>
        <div class="mb-3">
          <label for="department" class="form-label">{{lang.department}}*</label>
          <input type="text" class="form-control" id="department" name="department" list="department_options" required/>
          <datalist id="department_options">
            <!-- JS -->
          </datalist>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <button type="button" class="btn btn-primary" id="viBtnSave">{{lang.submit}}</button>
    </div>
  </form>
</div>

<script>
  function SetDataList(aDataList, aUrl, aSendData) {
    new TSend().execA(aUrl, aSendData).then(data => {
      aDataList.innerHTML = ''
      for (var x of data['items']) {
        let option = document.createElement('option')
        option.value = x.present
        option.setAttribute('data-ref', x.ref)
        aDataList.appendChild(option)
      }
    })
  }

  function inputDataList(aInputId, aUrl, aSendData = {}, aOnSelect = null, aOnKey = null) {
    let timeout = 0
    const input = document.getElementById(aInputId)
    const dataList = document.getElementById(input.getAttribute('list'))

    input.addEventListener('input', function(aEvent) {
      clearTimeout(timeout)
      timeout = setTimeout(() => {
        if (aOnKey)
          aOnKey(input)

        const value = this.value.trim()
        if (value.length >= 0) {
          let curOption = Array.from(dataList.options).find(e => e.value == value)
          if (curOption && aOnSelect)
            aOnSelect(curOption)
          const sendData = {'method': 'ajax', 'input_name': aEvent.target.name, 'input_value': value}
          SetDataList(dataList, aUrl, {...sendData, ...aSendData})
        }
      }, 500)
    })
  }

  const url = "{{href.novaposhta_ajax}}"
  inputDataList('town', url, {},
    (element) => {
      const townRef = element.getAttribute('data-ref')
      document.getElementById('town_ref').value = townRef
      inputDataList('department', url, {'town_ref': townRef}, null)

      const departmentOptions = document.getElementById('department_options')
      const sendData = {'method': 'ajax', 'input_name': 'department', 'input_value': '', 'town_ref': townRef}
      SetDataList(departmentOptions, url, sendData)
    },
    (element) => {
      document.getElementById('department').value = ''
    }
  )

  const formPayment = new TFormChangeTracker('formPayment', 'vChanged')
  formPayment.loadFromStorage()

  document.getElementById('viBtnSave').onclick = function(event) {
    const CheckFields = ['first_name', 'last_name', 'middle_name', 'phone', 'town', 'department']
    const emptyElements = formPayment.checkEmpty(CheckFields)
    if (emptyElements.length == 0) {
      if (ShoppingCart.getCount() > 0) {
        formPayment.saveToStorage()
        const data = {
          'name': 'cart',
          'value': JSON.stringify(ShoppingCart.getDbl())
        }
        formPayment.submit(data)
      } else {
        alert("{{lang.cart_is_empty}}")
      }
    }else{
      emptyElements[0].focus()
      alert("{{lang.empty_field}}")
    }
  }
</script>
<!-- payment - -->
{% endblock %}
