{% extends '_inc/layout1.j2' %}

{% block head %}
<style>
  th, td {
    padding-right: 10px;
    border: 1px solid black;
    text-align: left;
  }
  tr:nth-child(odd) {
    background-color: lightgray;
  }
</style>
{% endblock %}

{% block content %}
<!-- model_unknown + -->
<div class="container mb-3">
    <h2>{{lang.model_unknown}}</h2>
    <div class="mt-2">
      {{ TDbList().Import(dbl_model_unknown).GetReprHtml() }}
    </div>
</div>
<!-- model_unknown - -->
{% endblock %}
