{% extends '_inc/layout1.j2' %}

{% block content %}
{% include '_inc/filemanager.j2' %}
{% endblock %}

{% block foot %}
<!-- foot product + -->
<script src="/tenant/default/assets/js/product.js"></script>
<!-- foot product - -->
{% endblock %}
