<!-- filemanager_modal + -->
<div class="modal fade" id="viFileManagerModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartModalLabel">{{lang.shopping_cart}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close-modal"></button>
      </div>
      <div class="modal-body" id="viModalBody">
        <!-- js here -->
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  let cardId = null

  function Update() {
    function emulHref(aEvent, aThis) {
      aEvent.preventDefault()
      sendInto('viModalBody', aThis.getAttribute('href'))
      Update()
    }

    const pathRefresh = document.getElementById("input_refresh").value
    const query = pathRefresh.split('?').pop()

    document.getElementById("btn_delete").onclick = function(event) {
      const elements = document.querySelectorAll('input[type="checkbox"][name^="chk_"]:checked')
      if (elements.length == 0) {
        alert('{{ lang.not_selected }}')
      } else if (confirm('{{ lang.delete }} ?')) {
        const post = dictMerge(IterNameValue(elements), {'btn_delete': 'ok'})
        new TSend().exec('/tenant/api/?' + query, {'method': 'ajax', 'post': post})
        sendInto('viModalBody', pathRefresh)
        Update()
      }
    }

    document.getElementById("btn_new_folder").onclick = function(event) {
      const element = document.querySelector('input[name="new_folder"]')
      const post = {'btn_new_folder': 'ok', [element.name]: element.value}
      new TSend().exec('/tenant/api/?' + query, {'method': 'ajax', 'post': post})
      sendInto('viModalBody', pathRefresh)
      Update()
    }

    document.getElementById("btn_upload").onclick = function(event) {
      const form = document.getElementById('FormUpload')
      const formData = new FormData(form)
      formData.append(this.name, this.value)
      const xhr = new XMLHttpRequest()
      xhr.open('POST', pathRefresh, true)
      xhr.send(formData)
      sendInto('viModalBody', pathRefresh)
      Update()
    }

    document.getElementById('vFS').querySelectorAll('.vJsFolder').forEach(function (element) {
      element.addEventListener('click', function (event) {
        emulHref(event, this)
      })
    })

    document.getElementById('vFS').querySelectorAll('.vJsThumb').forEach(function (element) {
      element.addEventListener('click', function (event) {
        event.preventDefault()

        const data = JSON.parse(this.getAttribute('data'))
        const card = document.getElementById(cardId)
        card.getElementsByClassName("imgThumb")[0].src = data.src
        card.getElementsByClassName("imgFile")[0].value = data.path
        card.getElementsByClassName("imgDate")[0].textContent = data.date
        card.getElementsByClassName("imgSize")[0].textContent = Math.round(data.size / 1000).toString() + 'Kb'

        document.getElementById('btn-close-modal').click()
      })
    })

    document.getElementById("href_refresh").onclick = function(event) {
      emulHref(event, this)
    }

    document.getElementById("href_parent").onclick = function(event) {
      emulHref(event, this)
    }
  }

  sendInto('viModalBody', '/tenant/?route=common/filemanager')
  Update()

  document.getElementById('images').querySelectorAll('.btn_ImgEdit').forEach(function (element) {
    element.addEventListener('click', function (event) {
      event.preventDefault()
      cardId = this.getAttribute("cardId")
    })
  })
</script>
<!-- filemanager_modal - -->
