{% extends '_inc/layout1.j2' %}

{% block content %}
<!-- home + -->
<div class="container mt-3">
    <p>{{lang.all_products}}: {{product_inf.products}}</p>
    <p>{{lang.disabled}}: {{product_inf.disabled}}</p>
    <p>{{lang.no_root}}: {{product_inf.no_product0}}</p>
    <p>{{lang.no_price}}: {{product_inf.no_price}}</p>
</div>
<!-- home + -->
{% endblock %}
