<!-- _inc/footer + -->
<div class="container mt-5 pt-3 pb-1 vFooter">
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <div class="d-flex">
        <a href="/tenant"><img src="/default/assets/img/logo-1x1.png" alt="Your Logo" height="45"></a>
        <h4 class="m-2">{{lang.about_descr}}</h4>
      </div>
    </div>
    <div class="border-top mt-2">
      <p><i class="fa fa-copyright m-1"></i>{{lang.copyright}}</p>
    </div>
  </div>
</div>
<!-- _inc/footer - -->
