<!-- _inc/header + -->
<script>
    gData.updValue('lang', {
        "added_to_cart": "{{lang.added_to_card}}",
        "already_in_cart": "{{lang.already_in_cart}}"
    })
</script>

<nav class="navbar navbar-expand-lg navbar-dark vFooter">
  <div class="container">
    <a href="/tenant">
      <picture>
        <source media="(min-width: 465px)" srcset="/default/assets/img/logo-1x1.png">
        <img src="/default/assets/img/logo-x.png" alt="company logo" height="45" id="viLogo">
      </picture>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{lang.products}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{href.products}}">{{lang.reference}}</a></li>
            <li><a class="dropdown-item" href="{{href.filemanager2}}">{{lang.filemanager}}</a></li>
            <li><a class="dropdown-item" href="{{href.price_list_import}}">{{lang.price_list_import}}</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">{{lang.shop}}</a>
        </li>
      </ul>
    </div>

    <div class="d-flex">
      <div class="flex-grow-1"></div>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="{{lang.search}}" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">{{lang.search}}</button>
        </form>
      </div>
    </div>
  </div>

</nav>
<!-- _inc/header - -->
