{% extends '_inc/layout1.j2' %}

{% set Fields = ['create_date', 'id', 'url', 'ip', 'location'] %}

{% block head %}
<style>
  .grid-container {
    display: grid;
    --grid-template-columns: repeat({{ Fields | length }}, 1fr);
    grid-template-columns: 200px 100px auto 150px 300px;
  }

  .gitem {
    border: 1px solid black;
    padding: 0px;
    text-align: left;
  }
</style>
{% endblock %}

{% block content %}
<!-- hist_session + -->
<div class="container pb-2">
  <div class="grid-container">
    {% for xFields in Fields %}
      <div class="grid-item fw-bold">{{xFields}}</div>
    {% endfor %}

    {% set ns = namespace(PrevId=None) %}
    {% for Rec in TDbList().Import(dbl) %}
      {% if ns.PrevId != Rec.id %}
        {{ '<div>-</div>' * 5 }}
      {% endif %}
      {% set ns.PrevId = Rec.id %}

      <div class="gitem">{{Rec.create_date.strftime('%Y-%m-%d %H:%M:%S') }}</div>
      <div class="gitem">{{Rec.id}}</div>
      <div class="gitem"><a href="{{Rec.url}}" target="_blank">{{Rec.url.split('&') }}</a></div>
      <div class="gitem">{{Rec.ip }}</div>
      <div class="gitem">{{Rec.location }}</div>
    {% endfor %}
  </div>

  <div class="m-3">
    {% include '../_inc/pagination.j2' %}
  </div>
</div>
{% endblock %}
