{% extends '_inc/layout1.j2' %}

{% set Fields = ['create_date', 'count', 'url', 'title'] %}

{% block head %}
<style>
  .grid-container {
    display: grid;
    --grid-template-columns: repeat({{ Fields | length }}, 1fr);
    grid-template-columns: 200px 100px auto 300px;
  }

  .gitem {
    border: 1px solid black;
    padding: 0px;
    text-align: left;
  }
</style>
{% endblock %}

{% block content %}
<!-- hist_google + -->
<div class="container pb-2">
  <h1>Google bot</h1>
  <div class="grid-container">
    {% for xFields in Fields %}
      <div class="grid-item fw-bold">{{xFields}}</div>
    {% endfor %}
    {% for Rec in TDbList().Import(dbl) %}
      <div class="gitem">{{Rec.create_date.strftime('%Y-%m-%d %H:%M:%S') }}</div>
      <div class="gitem">{{Rec.count}}</div>
      <div class="gitem"><a href="{{Rec.url}}" target="_blank">{{Rec.url.split('&') }}</a></div>
      <div class="gitem">{{Rec.GetField('title', '')}}</div>
    {% endfor %}
  </div>

  <div class="m-3">
    {% include '../_inc/pagination.j2' %}
  </div>
</div>
<!-- hist_google - -->
{% endblock %}
