<!-- _inc/footer + -->
<div class="container mt-5 pt-3 pb-3 vFooter">
    <div class="row">
        <div class="col-lg-5 col-xs-12">
            <div class="d-flex">
                <a href="/"><img src="/default/assets/img/logo-1x1.png" alt="Your Logo" height="45"></a>
                <h4 class="mt-2">{{lang.about_descr}}</h4>
            </div>
        </div>
        <div class="col-lg-3 col-xs-12">
              <ul class="m-0 p-0">
                <li><a href="{{href_layout.about_us}}">{{lang.about_us}}</a></li>
                <li><a href="{{href_layout.contacts}}">{{lang.contacts}}</a></li>
              </ul>
        </div>
        <div class="border-top mt-2">
          <p><i class="fa fa-copyright m-1"></i>{{lang.copyright}}</p>
        </div>
    </div>
</div>
<!-- _inc/footer - -->
