{% extends '_inc/layout1.j2' %}

{% block head %}
  <script type='module' src='/default/js/pages/product/category.js' ></script>
  <script type='module' src='/default/js/pages.js' ></script>
{% endblock %}

{% block content %}
  <title>{{lang.found}} {{total}}: {{search}}</title>
  {% include './category/control.j2' %}
  {% include './category/goods.j2' %}
  {% include './category/pages.j2' %}
{% endblock %}
