@import url("root.css") screen;
@import url("common.css") screen;
@import url("settings.css") screen;
@import url("panel.css") screen;
@import url("top.css") screen;
@import url("menu.css") screen;
@import url("page.css") screen;
@import url("nav.css") screen;
@import url("footer.css") screen;
@import url("social.css") screen;
@import url("popup.css") screen;

/* ==================== */
/* === cart section === */
/* ==================== */

title.cart, title.ok {
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 10px;
  font-size: var(--cart-title);
}

title.cart::before, title.ok::before {
  font-size: (--title-title-icon);
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin-right: 20px;
  padding: 15px;
  padding-left: 18px;
  text-align: center;
  color: #fff;
  background: #660 linear-gradient(to bottom, #09c, #033) repeat-x;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
  box-shadow: 3px 3px 6px rgb(0, 0, 0);
  border-radius: 50%;
}

title.cart::before { content: 'b' }
title.ok::before { content: 'O' }

cart {
  margin-top: 30px;
}

cart titles, cart item {
  display: grid;
  grid-template-columns: calc(var(--cart-thumb) + 20px) auto 120px 120px 150px 120px 40px;
  text-align: center;
}

cart.history titles, cart.history item {
  grid-template-columns: calc(var(--cart-thumb) + 20px) auto 120px 120px 150px 120px;
}

cart titles {
  height: 50px;
  background: #09c linear-gradient(to bottom, #09c, #033) repeat-x;
}

cart titles title {
  margin: 0;
  padding: 0;
  line-height: 50px;
  color: #fff;
  border: 0px solid #fff;
}

cart titles title.thumb, cart item thumb { min-width: var(--cart-thumb); }
cart titles title.name, cart item name { 
  justify-content: flex-start;
  margin-left: 20px;
}

cart titles cbox {
  background: #09c linear-gradient(to bottom, #09c, #033) repeat-x;
}

cart item a {
  color: var(--bg-top);
}

cart item a:hover {
  color: #900;
}

cart item > a {
  display: block;
  width: var(--cart-thumb);
  height: var(--cart-thumb);
  margin: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
}

cart item > a:hover {
  border: 1px solid #000;
}

cart item cbox, cart thumb, cart name, cart code, cart qty, cart price, cart sum {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px 0 5px;
  height: var(--cart-thumb);
  border: 0px solid #f00;
}

cart item, cart item cbox {
  height: var(--cart-thumb);
  margin: 0;
}

cart item {
  margin-top: 10px;
}

cart item:nth-child(odd) {
  background: #f6f6f6;
}

cart item.selected {
  background: #ffc;
}

cart thumb {
  margin: 0;
  height: var(--cart-thumb);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
}

cart thumb:hover {
  border: 1px solid #000;
}

cart qty {
  display: flex;
  align-items: center;
  justify-content: center;
}

cart qty input {
  width: 48px;
  height: 48px;
  font-size: 1em;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ccc;
}

cart qty minus, cart qty plus {
  font-family: icons;
  font-size: 0.9em;
  cursor: pointer;
  width: 24px;
  height: 24px;
  vertical-align: center;
  user-select: none;
}

cart qty minus:hover, cart qty plus:hover {
  font-size: 1.1em;
  line-height: 1.1em;
}

cart qty minus {
  color: #f00;
  margin-right: 10px;
}

cart qty plus {
  color: #090;
  margin-left: 10px;
}

cart cbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

cart cbox input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* total */
total {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 48px;
  line-height: 48px;
  border-radius: 4px;
  background: #eee;
  margin-top: 20px;
  color: #333;
  border: 1px solid #333;
}

total num, total sum, total pay {
  font-weight: bold;
  padding: 0 20px 0 20px;
}

total num[label]:before, total sum[label]:before, total pay[label]:before {
	font: var(--base-font);
  content: attr(label);
  margin-right: 20px;
}

/* payment */
payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 540px;
  margin: auto;
  margin-top: -36px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #333;
}

payment label {
  width: 100%;
  display: block;
  width: 100%;
  line-height: 2em;
  font-weight: bold;
  background: #eee;
  border-bottom: 1px solid #333;
}

payment type {
  font-weight: normal;
  margin: 20px 0 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

payment type:hover {
  border: 1px solid #333;
}

payment type[checked] {
  background: #eee;
  border: 1px solid #333;
}

payment type:before {
  display: block;
  font-size: var(--cart-payment-icon);
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: center;
}

payment type.card:before {
  content: 'C';
  color: #09f;
}

payment type.bitcoin:before {
  content: 'B';
  color: #c00;
}

payment type.cash:before {
  content: '$';
  color: #396;
}

/* buttons */
buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 40px;
}

buttons.checkout {
  justify-content: center;
}

buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
  height: 36px;
  line-height: 36px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 4px;
}

buttons button:before {
  font-size: 1em;
  margin-right: 5px;
}

buttons button.category {
  color: #fff;
  border-color: #333;
  background: #ccc linear-gradient(to bottom, #363, #696) repeat-x;
}

buttons button.category:hover {
  color: #cfc;
  background: #ccc linear-gradient(to bottom, #696, #363) repeat-x;
}

buttons button.checkout, buttons button.confirm {
  color: #fff;
  border-color: #333;
  background: #09c linear-gradient(to bottom, #09c, #033) repeat-x;
}

buttons button.checkout:hover, buttons button.confirm:hover {
  color: #cff;
  background: #09c linear-gradient(to bottom, #033, #09c) repeat-x;
}

buttons button.remove {
  color: #fff;
  border-color: #333;
  background: #ccc linear-gradient(to bottom, #990, #660) repeat-x;
}

buttons button.remove:hover {
  color: #ffc;
  background: #ccc linear-gradient(to bottom, #660, #990) repeat-x;
}

buttons button.disabled {
  color: #333;
  background: #ccc linear-gradient(to bottom, #fff, #ccc) repeat-x;
}

buttons button.disabled:hover {
  color: #333;
  background: #ccc linear-gradient(to bottom, #ccc, #fff) repeat-x;
}

empty {
  height: 64px;
  line-height: 64px;
  font-size: 1.4em;
  margin: 20px 0 20px 0;
  text-align: center;
}

/*===== confirm =====*/

confirm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 660px;
  margin: 40px auto 40px auto;
  padding: 20px;
  text-align: center;
  background: #eff;
  border: 1px solid var(--bg-top);
  border-radius: 8px;
}

confirm client, confirm phone {
  position: relative;
  display: inline-block;
  width: 50%;
  padding-top: 10px;
}

confirm client[example]::after, confirm phone[example]::after {
  content: attr(example);
  font-size: 0.85em;
  color: #ccc;
}

confirm label {
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--bg-top);
  width: 100%;
}

confirm input {
  width: calc(100% - 40px);
  height: 40px;
  margin: 30px;
  margin-bottom: 0;
  padding: 0 10px 0 10px;
}


confirm placeholder {
  position: absolute;
  pointer-events: none;
  left: 40px;
  top: 46px;
  opacity: 0.4;
  transition: 0.5s ease all;
}

confirm placeholder:before {
  margin-right: 5px;
}

input:focus ~ placeholder,
input:focus ~ placeholder,
input:not(:focus):valid ~ placeholder,
input:not(:focus):valid ~ placeholder
{
  top: 15px;
  left: 30px;
  font-size: 0.8em;
  color: #000;
  opacity: 1;
}

confirm example {
  width: calc(50%);
  font-size: 0.85em;
  color: #ccc;
}
