/* ====================== */
/* === footer section === */
/* ====================== */

footer {
  margin-top: 50px;
  padding-top: 50px;
  background: var(--bg-footer);
}

footer grid, footer line, footer about {
  width: var(--page-width);
  margin: auto;
}

footer grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

footer grid cell title {
  font-weight: bold;
  color: #ffc;
  margin-bottom: 20px;
}

footer grid cell a {
  display: block;
  color: #ccc;
}

footer grid cell a:hover {
  color: #fff;
}

footer line {
  width: 100%;
  margin-top: 20px;
  background: rgb(0,93,127);
  background: linear-gradient(90deg, rgba(0,93,127,1) 10%, rgba(166,238,251,1) 50%, rgba(0,93,127,1) 90%);
}

footer copyright {
  width: 100%;
  margin: 20px auto 0 auto;
  padding-bottom: 20px;
  text-align: center;
  font-size: 0.8em;
  color: #ccc;
}

footer copyright[powered]:after {
  content: attr(powered);
}
