@import url("root.css") screen;
@import url("common.css") screen;
@import url("settings.css") screen;
@import url("panel.css") screen;
@import url("top.css") screen;
@import url("menu.css") screen;
@import url("page.css") screen;
@import url("nav.css") screen;
@import url("footer.css") screen;
@import url("social.css") screen;
@import url("popup.css") screen;


/* ===================== */
/* === index section === */
/* ===================== */

content banner.alert {
  position: relative;
  min-height: 128px;
  line-height: 32px;
  color: #000;
  border: 2px solid #333;
  border-radius: 8px;
  cursor: pointer;
  background: linear-gradient(to bottom, #fff, #eee) repeat-x;
}

content banner.alert:hover {
  background: linear-gradient(to bottom, #fff, #ddd) repeat-x;
}

content banner.alert::before{
  position: absolute;
  top: 0;
  left: 0;
  font-family: icons;
  font-size: 3em;
  content: '!';
  margin: 50px 0 0 50px;
  color: #fff;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

content banner.alert message {
  margin: 20px;
  text-align: center;
}

content banner.alert message text {
  margin-left: 120px;
  font-size: 1.1em;
  font-weight: bold;
}

content banner.alert message text:last-child {
  font-weight: bold;
  color: #900;
}

content services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

content services a {
    width: calc(50% - 20px);
    vertical-align: top;
}

content a.category {
  position: relative;
  min-height: 120px;
  margin: 5px;
  padding: 20px 10px 10px 140px;
  border-radius: 4px;
  transition: transform .5s ease;
  font-size: 1em;
  line-height: 30px;
}

content a.category:hover {
  transform: translateY(-7px);
  box-shadow: 0 22px 50px rgba(14, 21, 47, 0.2), 0 8px 20px rgba(14, 21, 47, 0.2);
}

content a.category logo {
  position: absolute;
  top: 10px;
  left: 10px;
  float: left;
  width: 100px;
  height: 100px;
  border: 2px #cacaca solid;
  border-radius: 50%;
  box-shadow: #545454 4px 2px 2px;
  background-position: center center;
  background-repeat: no-repeat;
}

content a.category name {
  font-weight: bold;
}

content blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

content blog article {
  display: inline-block;
  margin: 0 0 40px 0;
  width: calc(50% - 20px);
  vertical-align: top;
}

content blog article name {
  height: 24px;
  overflow: hidden;
}


content blog article blogname {
  font-size: 0.9em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 10px 0 10px 0;
  padding: 5px;
  background: #ffe;
  white-space: nowrap;
  overflow: hidden;
}

content blog article blogname a {
  font-size: 0.9em;
}

content blog article img {
  width: 128px;
  float: left;
  margin: 0 20px 10px 0;
}

content blog article text {
  max-height: 200px;
  text-align: justify;
  overflow: hidden;
}

