@import url("root.css") screen;
@import url("common.css") screen;
@import url("settings.css") screen;
@import url("panel.css") screen;
@import url("top.css") screen;
@import url("menu.css") screen;
@import url("path.css") screen;
@import url("page.css") screen;
@import url("nav.css") screen;
@import url("footer.css") screen;
@import url("social.css") screen;
@import url("popup.css") screen;

/* ======================= */
/* === product section === */
/* ======================= */

.green {color: #090}

item {
  display: flex;
  white-space: no-wrap;
}

item images, item info {
  display: inline-block;
  white-space: no-wrap;
  width: 50%;
}

item images zoom {
  width: calc(100% - 20px);
  padding-bottom: calc(100% - 20px);
  height: 0;
  background: #fff;
  border-radius: 4px;
  cursor: zoom-in;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

item images zoom:hover {
  border: 1px solid #069;
}

item images zoom img {
  width: calc(100% - 20px);
  padding-bottom: calc(100% - 20px);
  height: 0;
  margin: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

item images thumbs {
  display: grid;
  width: calc(100% - 20px);
  grid-template-columns: repeat(auto-fill, calc(100% / 3 - 20px ));
  justify-content: space-between;
}

item images thumbs thumb {
  height: 80px;
  margin-bottom: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  border: 1px solid #ccc;
}

item images thumbs thumb:hover {
  border: 1px solid #669;
}

item info panel, item info panel buttons {
  display: flex;
  height: 32px;
  line-height: 32px;
}

item info panel buttons button {
  font-family: icons;
  font-size: var(--control-mode);
  width: 42px;
  height: 32px;
  cursor: pointer;
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background: #e7e7e7;
  border: 1px solid #ccc;
}

item info buttons button:hover {
  background: linear-gradient(to bottom, #ccc, #fff);
  color: #09f;
}

item info buttons button.favorite {
  border-radius: 4px 0 0 4px;
}

item info buttons button.compare {
  border-left: 0px;
  border-radius: 0 4px 4px 0;
}

item info panel code {
  text-align: right;
}

item info props name {
  margin: 5px 0 0 0;
  font-weight: bold;
}

item info props value {
  display: inline-block;
  font-weight: normal;
  font-style: italic;
}

item control {
  position: relative;
  text-align: center;
  margin-top: 40px;
}

item control maxprice, item control price {
  display: inline-block;
}

item control oldprice {
  font-size: 18px;
  color: #999;
  margin-bottom: 5px;
  text-decoration: line-through;
}

item control price, item control promo, item control discount {
  display: inline-block;
  font-size: var(--product-price);
  height: 36px;
  line-height: 36px;
}

item control promo {
  color: #c00;
}

item control discount {
  font-size: var(--item-price);
  background: #c00;
  color: #fff;
  padding: 0 5px 0 5px;
  margin-left: 10px;
  border-radius: 4px;
}

item control a.buy {
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-top: 20px;
  font-size: var(--item-buy);
  color: #fff;
  background: var(--bg-top) linear-gradient(to bottom, #2e7d9b, var(--bg-top));
  box-shadow: 0 4px 8px rgba(14, 21, 47, 0.5);
  border: 1px solid #369;
  border-radius: 4px;
  cursor: pointer;
}

item control a:hover {
  background: var(--bg-top) linear-gradient(to bottom, var(--bg-top), #2e7d9b);
  box-shadow: 0 2px 4px rgba(14, 21, 47, 0.5);
}

item control a:before {
  font-size: 1em;
  margin: -2px 10px 0 0;
}

item control icon {
  width: 48px;
  height: 48px;
  line-height: 48px;
  display: inline-block;
}

tabs panel {
  margin-top: 40px;
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

tabs panel tab {
  display: inline-block;
  height: 32px;
  color: #333;
  padding: 0 20px 0 20px;
  cursor: pointer;
}

tabs panel tab.active {
  border: 1px solid #ccc;
  border-bottom-color: transparent;
  background: #fff;
  color: var(--bg-top);
  font-weight: bold;
}

tabs panel tab:hover {
  color: var(--bg-top);
}

tabs data {
  margin-top: 20px;
  text-align: justify;
}

tabs label.tabprop name, tabs label.tabprop value {
  padding: 10px;
  display: inline-block;
}

tabs label.tabprop name:nth-of-type(odd), tabs label.tabprop value:nth-of-type(odd){
  background: #eee;
}

tabs label.tabprop name {
  width: 200px;
  font-weight: bold;
}

tabs label.tabprop value {
  width: calc(100% - 200px);
}

tabs plus, tabs minus {
  margin-top: 20px;
  font-weight: bold;
}

tabs plus {
  color: #090;
}

tabs minus {
  color: #c00;
}