/* ============== */
/* === social === */
/* ============== */

@keyframes pong {
  0% { padding-top: 0; }
  50% { padding-top: 5px; }
  100% { padding-top: 0; }
}

social {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 72px;
  height: 172px;
  padding-top: 5px;
  /*animation: pong 1s linear infinite;*/
}

social:hover {
  animation: none;
}

social callback, social share {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: icons;
  font-size: 30rem;
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
  box-shadow: 3px 3px 6px rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 25%;
}

social callback {
  font-size: 40rem;
  background: #660 linear-gradient(to bottom, #660, #993) repeat-x;
}

social callback:hover {
  font-size: 48rem;
  background: #330 linear-gradient(to bottom, #330, #cc6) repeat-x;
}

social callback::before {
  content: 'p';
}

social share {
  background: #930 linear-gradient(to bottom, #c63, #930) repeat-x;
}

social share:hover {
  font-size: 36rem;
  background: #c33 linear-gradient(to bottom, #630, #f63) repeat-x;
}

social share::before {
  content: 'S';
}

social icons {
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 110px;
  bottom: 45px;
  width: 0;
  height: 48px;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  transition: 1s ease;
}

social icons.active {
  opacity: 1;
  width: 180px;
}


social icons a {
  display: flex;
  font-family: icons;
  font-size: 28rem;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
  color: #fff;
  width: 48px;
  height: 48px;
  border-radius: 25%;
}

social icons a:hover {
  font-size: 32rem;
}

social .facebook { background: #036 linear-gradient(to bottom, #036, #06c) repeat-x }
social .instagram { background: #930 linear-gradient(to bottom, #930, #f63) repeat-x }
social .telegram { background: #06c linear-gradient(to bottom, #06c, #09f) repeat-x }

social .facebook:hover { background: #06c linear-gradient(to bottom, #06c, #036) repeat-x }
social .instagram:hover { background: #f63 linear-gradient(to bottom, #f63, #930) repeat-x }
social .telegram:hover { background: #09f linear-gradient(to bottom, #09f, #06c) repeat-x }

social .facebook::before { content: 'F'}
social .instagram::before { content: 'I'}
social .telegram::before { content: 'T'}