 <footer>
    <grid>
      <cell>
        <title>Сервіси</title>
        <a href='/category.shtml'>Товари</a>
        <a href='#'>Послуги</a>
        <a href='#'>Обслуговування підприємств</a>
      </cell>
      <cell>
        <title>Інформація</title>
        <a href='#'>Доставка і оплата</a>
        <a href='#'>Повернення товару</a>
        <a href='#'>Акції</a>
      </cell>
      <cell>
        <title>Партнерам</title>
        <a href='#'>Партнерська програма</a>
        <a href='#'>Подарункові сертифікати</a>
        <a href='#'>Розсилка</a>
      </cell>
      <cell>
        <title>{{lang.help}}</title>
        <a href='{{url.order}}'>{{lang.order}} (0)</a>
        <a href='#'>Мої закладки (0)</a>
        <a href='{{url.contact}}'>Контакти</a>
      </cell>
    </grid>

    <line></line>

    <copyright>©Комп'ютерний магазин «ОСТЕР», 2023</copyright>
 </footer>
