-= inc_right.j2 =-<br>
jinja2<br>
title: {{ title }}<br>
info: {{ info }}<br>
module: {{ module }}<br>
modules: {{ modules }}<br>
<br>
{% for module in modules.get('catalog') %}
    {% for rec in data %}
        {{ rec.title }}<br>
    {% endfor %}
{% endfor %}
