/* =================== */
/* === nav section === */
/* =================== */
nav {
  flex: 0 300px;
  padding: 20px;
}

nav phones, nav times {
  margin-top: 20px;
}

nav phones phone:first-child:before, nav times open:first-child:before {
  font-size: var(--nav-icon);
  display: inline-block;
  float: left;
  margin: 10px 20px 0 10px;
}

nav phones phone:first-child:before {
  content: 'p';
}

nav times open:first-child:before {
  content: 'o';
  height: 150px;
}

nav phone {
  font-weight: bold;
}

nav time {
  font-weight: bold;
  margin-bottom: 10px;
}

nav title {
  font-size: 1.4em;
}

nav catalog a {
  display: flex;
  padding: 10px 5px 10px 10px;
  color: #000;
  font-size: var(--nav-font);
  font-weight: bold;
  border: 1px solid #ccc;
  border-top: 0;
}

nav catalog a:before {
  font-size: var(--nav-tree-icon);
  content: '+';
  color: #09f;
  margin-right: 10px;
}

nav catalog > a:first-child {
  border-top: 1px solid #ccc;
}

nav catalog a:hover {
  background: #eee;
}

nav catalog a.active {
  background: #eec;
}

nav catalog a.active:before {
  content: '-';
}

nav catalog level2 {
  height: 0;
  overflow: hidden;
  transition: 1s ease;
}

nav catalog level2 a {
  padding-left: 30px;
  font-weight: normal;
  color: #000;
  background: #ffe;
}

nav catalog level2 a:before {
  font-size: var(--nav-tree-icon);
  content: 'g';
  margin-right: 5px;
}

nav catalog level2 a.view {
  color: #900;
}

nav catalog level2 a.view:before {
  content: 'O';
  color: #900;
}

nav open *, nav close * {
  display: inline;
  font-weight: bold;
}

nav close {
  color: #900;
}

