/* ====================== */
/* === popup section === */
/* ====================== */

popup {
  position: fixed;
  top: 50%;
  left: calc(100% / 2 - 400px);
  width: 800px;
  height: 0;
  background: #fff;
  border-radius: 8px;
  z-index: 1000;
  opacity: 0;
  transition: 0.5s ease;
  transition-property: top, height;
  overflow: hidden;
}

popup.active {
  top: calc(50% - 150px);
  height: 300px;
  box-shadow: 3px 3px 32px 8px #000;
}

popup close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #c00;
  font-size: 1em;
  cursor: pointer;
  opacity: 0;
}

popup content {
  height: calc(100% - 60px);
  border-radius: 4px;
  margin: 30px;
  border: 1px solid #ccc;
  opacity: 0;
}

popup close.active, popup content.active {
  opacity: 1;
}
