/* =================== */
/* === top section === */
/* =================== */
top {
  display: flex;
  justify-content: space-between;
  height: 160px;
  background: var(--bg-header);
}

top logo {
  width: 320px;
  margin: 20px 0 0 30px;
  color: #fff;
  text-align: center;
  font-size: var(--top-font);
}

top logo > a img {
  width: 320px;
}

top logo address  {
  font-size: var(--top-font);
  color: #ccc;
}

top info {
  width: 300px;
  margin: 10px 20px 0 0;
}

top info * {
  height: 40px;
  line-height: 40px;
  margin-top: 20px;
  float: left;
  border: 0;
}

top info button.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(to bottom, #444, #000) repeat-x;
  color: #cff;
  font: var(--font-base);
  font-size: var(--top-font);
  border-radius: 4px;
}

top info button.cart:hover {
  background: linear-gradient(to bottom, #000, #444) repeat-x;
  color: #fff;
}

top info button.cart num, top info button.cart sum {
  display: flex;
  align-items: center;
  margin: 0px 10px 0px 10px;
  font: var(--font-base);
  font-size: 1em;
}

top info button.cart num:before {
  margin: 0 10px 3px 0;
  font-size: 1.2em;
}

top info input.search {
  width: 250px;
  padding: 0 10px 0 10px;
  border-radius: 4px 0 0 4px;
  color: #333;
  font-size: 0.9em;
}

top info button.search {
  font-family: icons;
  font-size: 1em;
  width: 50px;
  color: #666;
  border-left: 1px solid #999;
  border-radius: 0 4px 4px 0;
}

top info button.search:hover {
  background-color: #ffe;
  font-size: 1em;
  color: #000;
}