/* ====================== */
/* === common section === */
/* ====================== */

body {
  background: var(--bg-body) var(--bg-mobile);
}

body * {
  font: var(--font-roboto);
}


desktop, .desktop {
  display: none;
}

.page {
  width: 100%;
  margin: auto;
}

.end {
  margin-bottom: 50px;
}

title.xxl { font-size: 2.0em }
title.xl { font-size: 1.4em }
title.l  { font-size: 1.2em }
title.m  { font-size: 1.0em }
title.s  { font-size: 0.9em }
title.xs { font-size: 0.75em }
title.xxs { font-size: 0.6em }

line {
  width: 100%; 
  height: 1px; 
  background: #ccc;
  margin: 10px 0 10px 0;
}
