/* ==================== */
/* === path section === */
/* ==================== */

path {
  display: block;
  width: 90%;
  height: 28px;
  white-space: nowrap;
  margin: 20px auto 0 auto;
  border-radius: 4px;
  background: #eee;
  border: 1px solid #d4d4d4;
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

path a {
  display: inline;
  position: relative;
  bottom: 2px;
  font-size: var(--path-font);
  color: #09f;
}

path a::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 5px;
  left: -8px;
  width: 18px;
  height: 18px;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  transform: rotate(45deg);
}

path a:first-child:before {
  margin: 0 10px 0 15px;
  font-size: 1.25em;
  position: relative;
  top: 3px;
}
path a:last-child::after {
  display: none;
}
