@import url("root.css") screen;
@import url("common.css") screen;
@import url("settings.css") screen;
@import url("panel.css") screen;
@import url("top.css") screen;
@import url("menu.css") screen;
@import url("path.css") screen;
@import url("page.css") screen;
@import url("nav.css") screen;
@import url("footer.css") screen;
@import url("social.css") screen;
@import url("popup.css") screen;

/* ======================= */
/* === product section === */
/* ======================= */

.green {color: #090}

item {
  margin: 0;
  padding: 0;
}

/*portrait orientation*/
@media (orientation: portrait) {
  item info control a.buy {
    margin-bottom: 20px;
  }
}

/*landscape orientation*/
@media (orientation: landscape) {
  item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  item images, item info {
    width: calc(50% - 10px);
  }
  
  tabs {
    margin-bottom: 40px;
  }
}

item info title {
  margin-top: 0;
  font-size: var(--item-title) !important;
}

item images {
  margin-top: 20px;
}

item images zoom {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  background: #fff;
  border-radius: 4px;
  cursor: zoom-in;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

item images zoom:hover {
  border: 1px solid #069;
}

item images zoom img {
  width: calc(100% - 20px);
  padding-bottom: calc(100% - 20px);
  height: 0;
  margin: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

item images thumbs {
  display: flex;
  min-width: 100%;
  min-height: 64px;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

item images thumbs thumb {
  display: inline-block;
  min-width: 96px;
  min-height: 64px;
  border: 1px solid #ccc;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

item images thumbs thumb:last-child {
  margin-right: 0;
}

item images thumbs thumb:hover {
  border: 1px solid #669;
}

item info panel, item info panel buttons {
  display: flex;
  height: 32px;
  line-height: 32px;
}

item info panel {
  margin-top: 20px;
}

item info panel buttons button {
  font-family: icons;
  font-size: var(--control-mode);  
  width: 42px;
  height: 32px;
  cursor: pointer;
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background: #e7e7e7;
  border: 1px solid #ccc;
}

item info buttons button:hover {
  background: linear-gradient(to bottom, #ccc, #fff);
  color: #09f;
}

item info buttons button.favorite {
  border-radius: 4px 0 0 4px;
}

item info buttons button.compare {
  border-left: 0px;
  border-radius: 0 4px 4px 0;
}

item info panel code {
  text-align: right;
}

item info props name {
  font-size: var(--item-props);
  font-weight: bold;
  padding: 5px 0 5px 0;
}

item info props value {
  display: inline-block;
  font-weight: normal;
  font-style: italic;
}

item info control {
  position: relative;
  text-align: center;
  margin-top: 40px;
}

item info control maxprice, item control price {
  display: inline-block;
}

item info control oldprice {
  font-size: 1em;
  color: #999;
  margin-bottom: 5px;
  text-decoration: line-through;
}

item info control price, item info control promo, item info control discount {
  display: inline-block;
  font-size: var(--product-price);
  height: 36px;
  line-height: 36px;
}

item info control promo {
  color: #c00;
}

item info control discount {
  font-size: var(--item-price);
  background: #c00;
  color: #fff;
  padding: 0 5px 0 5px;
  margin-left: 10px;
  border-radius: 4px;
}

item info control a.buy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-top: 20px;
  font-size: var(--item-buy);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: var(--bg-top) linear-gradient(to bottom, #2e7d9b, var(--bg-top));
  border: 1px solid #369;
  border-radius: 4px;
  cursor: pointer;
  transition: transform .5s ease;
}

item info control a:before {
  font-size: 1em;
  margin: -3px 10px 0 0;
}

item info control icon {
  width: 48px;
  height: 48px;
  line-height: 48px;
  display: inline-block;
}

tabs {
  margin-top: 40px;
}

tabs panel {
  margin-top: 40px;
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

tabs panel tab {
  display: inline-block;
  height: 32px;
  padding: 5px 20px 0 20px;
  font-size: var(--item-tabs);
  color: #333;
  cursor: pointer;
}

tabs panel tab.active {
  background: #fff;
  color: var(--bg-top);
  font-weight: bold;
  border: 1px solid #ccc;
  border-bottom-color: transparent;
}

tabs data {
  margin-top: 20px;
  text-align: justify;
  font-size: var(--item-tabs);
}

tabs label.tabprop name, tabs label.tabprop value {
  padding: 10px;
  display: inline-block;
}

tabs label.tabprop name:nth-of-type(odd), tabs label.tabprop value:nth-of-type(odd){
  background: #eee;
}

tabs label.tabprop name {
  width: 40%;
  font-weight: bold;
}

tabs label.tabprop value {
  width: calc(100% - 40%);
}

tabs plus, tabs minus {
  margin-top: 20px;
  font-weight: bold;
}

tabs plus {
  color: #090;
}

tabs minus {
  color: #c00;
}