{% extends '_inc/layout1.j2' %}

{% block content %}
<!-- price_list + -->
<div class="container">
  <div class="col-md-6 m-2">
    <form method="post">
      <button class="btn btn-primary" type="submit" name="btn_download" value="download">{{lang.download_price}}</button>
    </form>
  </div>
</div>
<!-- price_list - -->
{% endblock %}
