<!-- cart_modal + -->
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartModalLabel">{{lang.shopping_cart}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="viCartItems">
          <p>JS items</p>
        </div>
      </div>
      <div class="modal-footer">
        <p>{{lang.total_sum}}:<span class="m-2 viTotalSum">JS 1234.5</span></p>
        <a href="{{href.payment}}" class="btn btn-primary"><i class="fa fa-shopping-cart m-1"></i>{{lang.buy}}</a>
        <button type="button" class="btn btn-danger viClearAll"><i class="fa fa-trash m-1"></i>{{lang.clear_all}}</button>
      </div>
    </div>
  </div>
</div>
<!-- cart_modal - -->
