<!-- _inc/footer + -->
<div class="mt-5 pt-3 pb-3 vFooter">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12">
        <a class="navbar-brand mr-5" href="/">
         <img src="/default/assets/img/logo-1x1.png" alt="company logo" height="50" class="d-inline-block">
        </a>
        <h4>{{lang.about_descr}}</h4>
        <!--
        <p>
          <a href="#" role="button"><i class="fab fa-facebook m-1" style="font-size: 2.0rem;" title="facebook"></i></a>
          <a href="#" role="button"><i class="fab fa-telegram m-1" style="font-size: 2.0rem;" title="telegram"></i></a>
          <a href="#" role="button"><i class="fab fa-viber m-1" style="font-size: 2.0rem;" title="viber"></i></a>
        </p>
        -->
      </div>
      <div class="col-lg-3 col-xs-12">
        <h4 class="mt-lg-0 mt-sm-3">{{lang.links}}</h4>
          <ul class="m-0 p-0">
            <li><a href="{{href_layout.about_us}}">{{lang.about_us}}</a></li>
            <li><a href="{{href_layout.contacts}}">{{lang.contacts}}</a></li>
            <li><a href="{{href_layout.faq}}">{{lang.faq}}</a></li>
            <li><a href="{{href_layout.privacy_policy}}">{{lang.privacy_policy}}</a></li>
            <li><a href="{{href_layout.sitemap}}">{{lang.sitemap}}</a></li>
          </ul>
      </div>
      <div class="col-lg-4 col-xs-12">
        <h4 class="mt-lg-0 mt-sm-4">{{lang.location}}</h4>
        <p><i class="fa fa-location-arrow m-1"></i>{{lang.address_}}</p>
        <p><i class="fa fa-phone m-1"></i>{{lang.phone_}}</p>
        <p><i class="fa fa-envelope m-1"></i>{{lang.email_}}</p>
      </div>
    </div>

    <div class="border-top mt-2">
      <p><i class="fa fa-copyright m-1"></i>{{lang.copyright}}</p>
    </div>
  </div>
</div>
<!-- _inc/footer - -->
