<!-- footer + -->
<div class="mt-5 pt-3 pb-3 vFooter">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12">
    <a class="navbar-brand mr-5" href="/">
      <img src="/default/assets/img/logo-1x1.png" alt="company logo" height="50" class="d-inline-block">
    </a>
        <h4>{{lang.about_descr}}</h4>
        <p>
          <a href="#" role="button"><i class="fa fa-facebook m-1" style="font-size: 2.0rem;"></i></a>
          <a href="#" role="button"><i class="fa fa-telegram m-1" style="font-size: 2.0rem;"></i></a>
        </p>
      </div>
      <div class="col-lg-3 col-xs-12">
        <h4 class="mt-lg-0 mt-sm-3">{{lang.links}}</h4>
          <ul class="m-0 p-0">
            <li><a href="#">{{lang.about_us}}</a></li>
            <li><a href="#">{{lang.contacts}}</a></li>
          </ul>
      </div>
      <div class="col-lg-4 col-xs-12">
        <h4 class="mt-lg-0 mt-sm-4">{{lang.location}}</h4>
        <p><i class="fa fa-location-arrow m-1"></i>{{lang.address_}}</p>
        <p><i class="fa fa-phone m-1"></i>{{lang.phone_}}</p>
        <p><i class="fa fa-envelope-o m-1"></i>{{lang.email_}}</p>
      </div>
    </div>

    <div class="border-top mt-2">
      <p>{{lang.copyright}}</p>
    </div>
  </div>
</div>
<!--  footer - -->
