   <panel class='page'>
      <currency>
        <a href='#' class='icon-dollars'>{{lang.currency}}: грн</a>
      </currency>
      <flex></flex>
      <links>
        <a href='{{url.order}}' class='icon-ok'>{{lang.order}} (<num></num>)</a>
        <a href='/favorite.shtml' class='icon-favorite'>{{lang.favorites}} (<num></num>)</a>
        <a href='{{url.compare}}' class='icon-compare'>{{lang.compare}} (<num></num>)</a>
        <a href='{{url.cart}}' class='icon-basket'>{{lang.basket}} (<num></num>)</a>
      </links>
    </panel>
