   <settings>
      <title class='m icon-settings'>Налаштування</title>
      <label class='language icon-language'>Мова:</label>
      <select id='language'>
        <option value='UA'>украінська</option>
      </select>

      <label class='currency icon-cash'>Валюта:</label>
      <select id='currency'>
        <option value='uah'>гривня</option>
        <option value='usd'>доллар</option>
        <option value='eur'>євро</option>
      </select>

      <label class='palette icon-palette'>Палітра:</label>
      <select id='palette'>
        <option value='light'>світла</option>
        <option value='dark'>темна</option>
      </select>

      <button class='icon-save'>зберегти</button>

    </settings>




