   <panel class='page'>
      <currency>
        <a href='#' class='icon-dollars'><desktop>{{lang.currency}}: грн</desktop></a>
      </currency>
      <flex></flex>
      <links>
        <a href='{{url.order}}' class='icon-ok'><desktop>{{lang.order}}</desktop> (<num></num>)</a>
        <a href='/favorite.shtml' class='icon-favorite'><desktop>{{lang.favorites}}</desktop> (<num></num>)</a>
        <a href='{{url.compare}}' class='icon-compare'><desktop>{{lang.compare}}</desktop> (<num></num>)</a>
        <a href='{{url.cart}}' class='icon-basket'><desktop>{{lang.basket}}</desktop> (<num></num>)</a>
      </links>
    </panel>
