<!-- _inc/header_categories_ajax + -->
<ul class="navbar-nav" title="{{lang.categories}}">
  <li class="nav-item dropdown" id="viMainNavbar">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="viMainNavbarMenu"><i class="fa fa-bars" style="font-size: 2.0em;"></i></a>
    <ul class="dropdown-menu" id="viMainNavbarItems">
    </ul>
  </li>
</ul>
<!-- _inc/header_categories_ajax - -->
