<top class='page'>
    <logo>
      <a href='/'><img src='/default/img/logo.png' title='{{lang.shop_address}}'/></a>
      <title class='s'>{{lang.shop_title}}</title>
      <address>{{lang.shop_address}}</address>
    </logo>
    <info>
      <button class='cart pointer' title='{{lang.basket}}' onclick='document.location.href="{{url.cart}}"'>
        <num class='icon-basket'>0</num> {{lang.products}} - <sum>{{lang.sum}}</sum>
      </button>
      <input type='text' class='search' value='' placeholder='{{lang.search}}'/>
      <button class='search pointer' title='{{lang.search}}'>s</button>
    </info>
</top>
