<!-- header + -->
<script>
  gData.updValue('lang', {
    "added_to_cart": "{{lang.added_to_card}}",
    "already_in_cart": "{{lang.already_in_cart}}"
  })
</script>

<nav class="navbar navbar-expand-lg  navbar-dark">
  <div class="container-fluid">
    <div class="d-flex col-2 col-sm-2 col-md-3 order-1 justify-content-between">
      <a href="/" id="ALogo" title="{{lang.home}}">
        <picture>
          <source media="(min-width: 465px)" srcset="/default/assets/img/logo-1x1.png">
          <img src="/default/assets/img/logo-x.png" alt="company logo" height="45" id="viLogo">
        </picture>
      </a>
    </div>
    <div class="d-flex col-12 col-sm-12 col-md-8 order-3 order-md-2 justify-content-between">
      <div class="d-flex col-12 col-sm-12 col-md-7 justify-content-center">
        <ul class="navbar-nav" title="{{lang.categories}}">
          <li class="nav-item dropdown" id="viMainNavbar">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="viMainNavbarMenu"><i class="fa fa-bars" style="font-size: 2.0em;"></i></a>
            <ul class="dropdown-menu " id="viMainNavbarItems"></ul>
          </li>
        </ul>
        <form autocomplete="off" method="get" class="d-flex col-9 col-sm-9 col-md-9 col-lg-9 align-items-center">
          <div class="input-group autocomplete-block">
            <div class="autocomplete vSearch">
              <input type="hidden" name="route" value="product0/search"/>
              <input type="text" class="form-control" value="" name="q" placeholder="{{lang.search}}" id="viSearchInput"/>
              <div class="autocomplete-items" id="viSearchSuggest">
                <!-- JS -->
              </div>
            </div>
          </div>
          <button class="btn float-end" type="submit"><i class="fa fa-search" title="{{lang.search}}"></i></button>
        </form>
      </div>
    </div>

    <div class="d-flex col-10 col-sm-1 col-md-1 order-2 justify-content-end">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#cartModal" id="viCartModal">
        <i class="fa fa-shopping-cart" title="{{lang.shopping_cart}}"></i>
        <span class="badge vBgBtn" id="viCount_cart"></span>
      </button>
      <button type="button" class="btn btn-success" id="viBtnOn_favorite" value="favorite" title="{{lang.favorite}}">
        <i class="fa fa-heart"></i>
        <span class="badge vBgBtn" id="viCount_favorite"></span>
      </button>
      <button type="button" class="btn btn-success" id="viBtnOn_compare" value="compare" title="{{lang.compare}}">
        <i class="fa fa-balance-scale"></i>
        <span class="badge vBgBtn" id="viCount_compare"></span>
      </button>

      <ul class="navbar-nav dropstart">
        <li class="nav-item dropdown ms-2">
          <a class="nav-link dropdown-toggle account" data-bs-toggle="dropdown"><i class="fa fa-user" title="{{lang.profile}}"></i></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item " href="/tenant/?route=common/login">вхід</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  for (const key of ['compare', 'favorite']) {
    ls = new TLocalStorage('products_' + key)
    if (ls.items) {
      document.getElementById('viCount_' + key).innerHTML = ls.items.length
    }

    document.getElementById('viBtnOn_' + key).addEventListener('click', function (event) {
      const value = (event.target.value ? event.target.value : event.target.parentElement.value)
      ls = new TLocalStorage('products_' + value)
      if (ls.items && ls.items.length > 0) {
        window.location.href = '/?route=product0/' + value + '&product_ids=[' + ls.items.join(';') + ']'
      }else{
        showTooltip("{{lang.no_data}}")
      }
    })
  }
</script>
<!-- header - -->
