<!-- _inc/header_categories + -->
<ul class="navbar-nav" title="{{lang.categories}}">
  <li class="nav-item dropdown" id="viMainNavbar">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  href="#"><i class="fa fa-bars" style="font-size: 2.0em;"></i></a>
    <ul class="dropdown-menu">
    {%- for x in categories_a[id_a] recursive %}
      {%- if x.id in categories_a %}
      <li class="nav-item dropdown">
        <a class="dropdown-item dropdown-toggle" href="{{x.href}}" role="button" data-bs-toggle="dropdown">{{x.title}} ({{x.products}})</a>
        <ul class="dropdown-menu">
          {{ loop(categories_a[x.id])}}
        </ul>
      </li>
      {%- else %}
        <li><a class="dropdown-item" href="{{x.href}}">{{x.title}} ({{x.products}})</a></li>
      {%- endif %}
    {%- endfor %}
    </ul>
  </li>
</ul>
<!-- _inc/header_categories - -->
