<!DOCTYPE html>
<html lang='uk'>
<head>
  <title>{{title}}</title>
  <!-- header_head -->{% include './header_head.j2' %}<!-- /header_head- -->
  <!-- head_block -->{% block head %}{% endblock %}<!-- /head_block- -->
</head>
<body>
  <header>
    <!-- header_settings+ -->{% include './header_settings.j2' %} <!-- header_settings- -->
    <!-- header_panel+ -->{% include './header_panel.j2' %} <!-- header_panel- -->
  </header>
  <!-- header_top+ -->{% include './header_top.j2' %}<!-- header_top- -->
  <!--header_menu+ -->{% include './header_menu.j2' %}<!--header_menu- -->
  <page class='page'>
    <!-- page_top+ -->{% block page_top %}{% endblock %}<!-- page_top- -->
    <flex>
      <!-- page_left+ -->{% include './page_left.j2' %}<!-- page_left- -->
      <content>
        <!-- content_top+ -->{% include './content_top.j2' %}<!-- content_top- -->
        <!-- content_block+ -->{% block content %}{% endblock %}<!-- content_block- -->
        <!-- content_bottom+ -->{% include './content_bottom.j2' %}<!-- content_bottom- -->
      </content>
    </flex>
  </page>
  <!-- footer -->{% include './footer.j2' %}<!-- /footer -->
  <!-- social+ -->{% include './social.j2' %}<!-- social- -->
  <!-- popup+ -->{% include './popup.j2' %}<!-- popup- -->
</body>
</html>
