<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% if description %}
    <meta name="description" content="{{description}}"/>
    {% endif %}
    {% if keywords %}
    <meta name="keywords" content="{{keywords}}"/>
    {% endif %}
    {% if title %}
    <title>{{ title }}</title>
    {% endif %}
    {% if canonical %}
    <link href="{{canonical}}" rel="canonical"/>
    {% endif %}

    <script src="/default/assets/js/lib.js"></script>
    <script src="/default/assets/js/app.js"></script>
    <script src="/default/assets/js/TDbList.js"></script>
    <script>
      let gData = new TDict()
      gData.updValue('href', {
        "search_ajax": "{{href.search_ajax}}",
        "search": "{{href.search}}"
    })
    </script>

    {% block head %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/default/assets/img/logo-1x1.png">

    <link rel="stylesheet" href="/default/assets/vendor/css/bootstrap.css">
    <link rel="stylesheet" href="/default/assets/vendor/css/fontawesome.css">
    <link rel="stylesheet" href="/default/assets/css/styles.css">
  </head>

  <body>
    <div id="sect-top">
      {% include './header.j2' %}
    </div>

    <div id="sect-main" class="row">
      <div id="sect-main-left" class="col">
        {% include './content_left.j2' %}
      </div>
      <div id="sect-main-center" class="col-9">
        {% include './content_top.j2' %}
        {% block content %}{% endblock %}
        {% include './content_bottom.j2' %}
      </div>
      <div id="sect-main-right" class="col">
        {% include './content_right.j2' %}
      </div>
    </div>

    <div id="sect-bottom">
      {% include './footer.j2' %}
    </div>
    {% include './cart_modal.j2' %}
    {% include './gotop.j2' %}

    <script src="/default/assets/vendor/js/bootstrap.bundle.min.js"></script>
    <script src="/default/assets/js/submenu_ajax.js"></script>
    <script src="/default/assets/js/cart.js"></script>
    <script src="/default/assets/js/search1.js"></script>
    <script src="/default/assets/js/gotop.js"></script>
    <script src="/default/assets/js/timer_modal.js"></script>

    <script>
      const param = {selector: 'viMainNavbar', items: 'viMainNavbarItems', url: '{{href.category_ajax}}'}
      document.getElementById('viMainNavbarMenu').onclick = () => OnClickDropdownMenu(param)
      initDropdownMenu({selector: 'viMainNavbar'})
    </script>
    {% block foot %}{% endblock %}
  </body>
</html>
