<!-- products_a + -->
<div class="container pb-1">
  <div class="text-center m-3 prod-list-title">
    <h1>{{products_a_title}}</h1>
    {% for xDescr in products_a_descr %}
      {% if xDescr %}
      <h2>{{xDescr}}</h2>
      {% endif %}
    {% endfor %}
  </div>

  {% if dbl_products_a_sort %}
  <div class="row pb-1">
    <div class="col-3">
      <label class="control-label" for="input-sort">сортування</label>
      <select class="form-control" id="input-sort" onchange="location=this.value">
      {% for Rec in TDbList().Import(dbl_products_a_sort) %}
        <option value="{{Rec.href}}" {{Rec.selected}}>{{Rec.title}}</option>
      {% endfor %}
      </select>
    </div>
  </div>
  {% endif %}

  <div class="row gx-1">
  {% for Rec in TDbList().Import(dbl_products_a) %}
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1 ">
      <div class="vCard ">
        <div class="card ">
           <a href="{{Rec.product_href}}">
          <div class="card-header vImgCenter rounded-top-3">
           <img src="{{Rec.thumb}}" alt="{{Rec.product_title}}">
          </div>
          </a>
          <div class="card-body w-100 m-0 p-0">
            <!--
            <a href="{{Rec.tenant_href}}">{{Rec.tenant_title}}</a>
            -->
            <div class="card-title w-100 m-0 p-0">
              <h3 ><a href="{{Rec.product_href}}">{{Rec.product_title|truncate(45, True, '...')}}</a></h3>
            </div>
          </div>
          <div class="card-footer  m-0 p-0 rounded-bottom-3">
            <h2 class="fw-bold  m-0 p-0">{{Rec.price|round|int}} грн</h2>
              <button type="button" class="buyButton mt-1 viAddToCart w-75 align-self-center mb-3 p-0"
                data='{"id":"{{Rec.product_id}}", "name":"{{Rec.product_title}}", "price":{{Rec.price}}, "img":"{{Rec.thumb}}", "qty":1, "href":"{{Rec.product_href}}"}'>
                {{lang.buy}}
              </button>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
<!-- products_a - -->
