 <social>
    <callback title='{{lang.call_order}}'></callback>
    <share title='{{lang.share}}'></share>
    <icons>
      <a href='https://www.facebook.com/OsterComputer' class='facebook'  target='_blank' title='{{lang.share_facebook}}'></a>
      <a href='https://www.instagram.com/osterternopil/' class='instagram' target='_blank'  title='{{lang.share_instagram}}'></a>
      <a href='https://t.me/novynki' class='telegram'  target='_blank' title='{{lang.share_telegram}}'></a>
    </icons>
  </social>
