<social>
    <a href='#' class='callback' title='{{lang.call_order}}'></a>
    <a href='#' class='share' title='{{lang.share}}' onclick='this.parentNode.getElementsByTagName("share")[0].style.width="190px"'></a>
    <share>
        <a href='#' class='facebook' title='{{lang.share_facebook}}'></a>
        <a href='#' class='instagram' title='{{lang.share_instagram}}'></a>
        <a href='#' class='telegram' title='{{lang.share_telegram}}'></a>
    </share>
</social>
