  </page>
  <!-- footer_info+ -->
  {% include './footer_info.j2' %}
  <!-- footer_info- -->

  <!-- footer_call+ -->
  {% include './footer_call.j2' %}
  <!-- footer_call- -->

  <!-- footer_social+ -->
  {% include './footer_social.j2' %}
  <!-- footer_social- -->
</body>
</html>
