  <social>
    <a href='#' class='facebook' title='Ми в Meta/Facebook'></a>
    <a href='#' class='instagram' title='Ми в Imstagram'></a>
    <a href='#' class='telegram' title='Підтримка в Telegram'></a>
  </social>