<panel class='page'>
    <currency>
        <icon class='icon16 money'></icon><a href='#'>{{lang.currency}}: грн</a>
    </currency>
    <links>
        <icon class='icon16 user'></icon><a href='#'>{{lang.profile}}</a>
        <icon class='icon16 favorite'></icon><a href='#'>{{lang.favorites}}(0)</a>
        <icon class='icon16 cart'></icon><a href='#'>{{lang.basket}}</a>
        <icon class='icon16 order'></icon><a href='#'>{{lang.make_order}}</a>
    </links>
</panel>
