  <meta charset='utf-8'/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--link rel='stylesheet' type='text/css' href='css/styles.css' /-->
  <!--link rel='stylesheet' type='text/css' href='css/desktop.css' /-->
  <script type='text/javascript' src='/default/js/optima/optima.js' defer></script>
  <script type='text/javascript' src='/default/js/optima/loader.js' defer></script>
  <script type='text/javascript' src='/default/js/optima/static.js' defer></script>
  <script type='text/javascript' src='/default/js/oster.js' defer></script>
  <script type='text/javascript' src='/default/js/search.js' defer></script>
