    <panel class='page'>
      <currency>
        <icon class='icon16 money'></icon><a href='#'>{{lang.currency}}: грн</a>
      </currency>

      <links>
        <icon class='icon16 user'></icon><a href='#'>Особистий кабінет</a>
        <icon class='icon16 favorite'></icon><a href='#'>Закладки (0)</a>
        <icon class='icon16 cart'></icon><a href='#'>Кошик</a>
        <icon class='icon16 order'></icon><a href='#'>Оформлення замовлення</a>
      </links>
    </panel>
