<meta charset='utf-8'/>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="preload" href="/default/css/common.css" as="style" />
<link rel="preload" href="/default/js/optima/optima.js" as="script" />
<link rel="preload" href="/default/js/optima/loader.js" as="script" />
<link rel="preload" href="/default/js/optima/static.js" as="script" />

<link rel="stylesheet" href="/default/css/common.css" />

<script src='/default/js/optima/optima.js'></script>
<script src='/default/js/optima/loader.js'></script>
<script src='/default/js/optima/static.js'></script>
<script src='/default/js/search.js'></script>
