  <top class='page'>
    <logo>
      <a href='/'><img src='/default/img/logo.png' title='Компьютерний магазин «Остер», м. Тернопіль'/></a>
      <title class='s'>комп'ютерний магазин</title>
      <address>м. Тернопіль, вул. Руська, 41</address>
    </logo>

    <info>
      <button class='cart pointer'>0 товар(ів) - 0,00 грн.</button>
      <input type='text' class='search' value='' placeholder='Пошук'></input><button class='search pointer'></button>
    </info>
  </top>
