{% if places['inc_left'] %}
    <nav>
    {% for module in modules %}
        {% if module['place'] == 'inc_left' %}
            {{ module['data'] }}
        {% endif %}
    {% endfor %}
    </nav>
{% endif %}
