  <social>
    <a href='#' class='callback' title='Замовити дзвінок'></a>
    <a href='#' class='share' title='Поділитись' onclick='this.parentNode.getElementsByTagName("share")[0].style.width="190px"'></a>
    <share>
      <a href='#' class='facebook' title='Ми в Meta/Facebook'></a>
      <a href='#' class='instagram' title='Ми в Imstagram'></a>
      <a href='#' class='telegram' title='Підтримка в Telegram'></a>
    </share>
  </social>