<control>
  <mode class='list' title='{{lang.list}}' onclick='catalog.setMode(this.className)'></mode>
  <mode class='grid' title='{{lang.grid}}' onclick='catalog.setMode(this.className, true)'></mode>
  <mode class='compare' title='{{lang.compare}} (0)' onclick='catalog.setMode(this.className)'></mode>

  <flex></flex>

  <label>{{lang.sort}}</label>
  <select>
    <option value='common' selected>{{lang.by_default}}</option>
    <option value='name-asc'>{{lang.by_name_az}}</option>
    <option value='name-desc'>{{lang.by_name_za}}</option>
  </select>

  <label>{{lang.show}}</label>
  <select>
    <option value='limit-15' selected>12</option>
    <option value='limit-25'>25</option>
    <option value='limit-50'>50</option>
    <option value='limit-100'>100</option>
  </select>
</control>
