<control>
  <mode class='list' title='{{lang.list}}' onclick='catalog.setMode(this.className)'></mode>
  <mode class='grid' title='{{lang.grid}}' onclick='catalog.setMode(this.className, true)'></mode>
  <mode class='compare' title='{{lang.compare}} (0)' onclick='catalog.setMode(this.className)'></mode>

  <flex></flex>

  <label>{{lang.sort}}</label>
  <select id='sort'>
    <option value='common' selected>{{lang.by_default}}</option>
    <option value='nameAsc'>{{lang.by_name_az}}</option>
    <option value='nameDesc'>{{lang.by_name_za}}</option>
    <option value='priceAsc'>{{lang.by_price_09}}</option>
    <option value='priceDesc'>{{lang.by_price_90}}</option>
  </select>

  <label>{{lang.show}}</label>
  <select id='limit'>
    <option value='12' selected>12</option>
    <option value='36'>36</option>
    <option value='108'>108</option>
  </select>
</control>
