<goods>
  <grid>
    {% for Rec in TDbList().Import(dbl_product) %}
    <item code='{{Rec.product_id}}'>
      <a href='{{Rec.href}}'><img src='{{Rec.thumb}}' title='{{Rec.title}}' /></a>
      <block>
        <a href='{{Rec.href}}'><name>{{Rec.title}}</name></a>
        <info></info>
        <price>{{Rec.price}}</price>
        <panel>
          <a href='#' class='buy'><icon class='buy'></icon>{{lang.buy}}</a>
          <a href='#' title='{{lang.to_favorite}}'><icon class='favorite'></icon></a>
          <a href='#' title='{{lang.compare}}'><icon class='compare'></icon></a>
        </panel>
      </block>
    </item>
    {% endfor %}
  </grid>
</goods>
