<goods>
    {% for Rec in TDbList().Import(dbl_product) %}
    <item code='{{Rec.product_idt}}' pid='{{Rec.product_id}}' min=1>
      <a href='{{Rec.href}}' style='background-image: url({{Rec.thumb}})' title='{{Rec.product_title}}'</a>
      <block>
        <a href='{{Rec.href}}'><name>{{Rec.product_title}}</name></a>
        <info>{{lang.seller}}: {{Rec.tenant_title}}</info>
        <price>{{Rec.price}}</price>
        <panel>
          <a href='#' class='buy icon-basket'>{{lang.buy}}</a>
          <a href='#' class='icon-addfavor' title='{{lang.to_favorite}}'></a>
          <a href='#' class='icon-compare' title='{{lang.compare}}'></a>
        </panel>
      </block>
    </item>
    {% endfor %}
</goods>
